<!--#top start#-->
<!DOCTYPE html>
<html>
<head><meta http-equiv='Content-Type' content="text/html; charset=gb2312" /><meta name='description' content="{$Web_Description$}" /><meta name='keywords' content="{$Web_KeyWords$}" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$Web_Title$}</title>


<base href="" />
<script type="text/javascript">var base_file = base_url= "";</script>
<link rel="stylesheet" type="text/css" href="[$cfg_webcss$]/style.css" />
<script type="text/javascript" src="[$cfg_webjs$]/jquery.js""></script>
<script src="[$cfg_webjs$]/jquery.placeholder.js""></script>
<script src="[$cfg_webjs$]/jquery.public.js""></script>
<script src="[$cfg_webjs$]/global.js""></script>
<script src="www.js"></script>
<meta name="sogou_site_verification" content="j7OyTK5gah"/>
<meta name="360-site-verification" content="dfb8deab9d1c034b3d3996d77bb494f6" /></head>
<body>
<div class="Wrap Header">
    <i class="lbg posa"></i>
    <div class="Column posr">
        <a href="{$GetColumnUrl columnname='网站首页'$}" class="logo fl">
            <img src="[$cfg_webimages$]/e3e814c055d27025.png" alt="香港观唐别墅设计" />
        </a>
        <div class="Nav fl" id="Nav">
            <ul class="clearfix">




<!--#栏目菜单#-->
<sPAn class="testspan">{$ColumnMenu  default='[_2016年09月22日 07时28分]'$}</sPAn>
 
<!--#[_2016年09月22日 07时28分]

[sql]where flags like '%top%'[/sql]

[list] 
        <a href="[$url$]" title="[$columnname$]" class="par">
        <i class="c[$i$]">1</i><em>[$columnname$]</em><cite>[$columnenname$]</cite>
        </a>   

[/list]
[list-focus]<li><a href="[$url$]" title="[$title$]" [$atarget$][$abcolor$]=""><font color="red">[$title$]</font></a></li>[/list-focus]

[small-list]
<a href="[$url$]" title="[$title$]" class="son">[$title$]</a>
[/small-list] 
[small-list-focus]<li><a href="[$url$]" title="[$title$]">[$title$]</a></li>[/small-list-focus]

[navheader]
<li>
[/navheader]
[navfooter]
</li>
[/navfooter]


[subheader] 
<ol>
[/subheader]
[subfooter] 
</ol>
[/subfooter]
#-->



<!--#test start#--> 
                                                                <li>
                    <a href="cases" title="别墅精装" class="par">
                        <i class="c1">1</i><em>别墅精装</em><cite>CASES</cite>
                    </a>
                    					<ol>
                                            <li>
                            <a href="cases1" title="别墅精装" class="son">别墅大宅</a>
                        </li>
                                            <li>
                            <a href="cases2" title="别墅精装" class="son">平层复式</a>
                        </li>
                                            <li>
                            <a href="cases4" title="别墅精装" class="son">样板间</a>
                        </li>
                                            <li>
                            <a href="cases3" title="别墅精装" class="son">酒店会所</a>
                        </li>
                                            <li>
                            <a href="video" title="别墅精装" class="son">设计视频</a>
                        </li>
                    					</ol>
                                    </li>
                                                <li>
                    <a href="team" title="设计团队" class="par">
                        <i class="c2">2</i><em>设计团队</em><cite>TEAMS</cite>
                    </a>
                    					<ol>
                                            <li>
                            <a href="team" title="设计团队" class="son">设计师</a>
                        </li>
                    					</ol>
                                    </li>
                                                <li>
                    <a href="custom.html" target="_blank" title="全案定制" class="par">
                        <i class="c3">3</i><em>全案定制</em><cite>CUSTOM</cite>
                    </a>
                                    </li>
                                                <li>
                    <a href="reserva" title="最新工地" class="par">
                        <i class="c4">4</i><em>最新工地</em><cite>BUILDING</cite>
                    </a>
                    					<ol>
                                            <li>
                            <a href="house" title="最新工地" class="son">热装楼盘</a>
                        </li>
                                            <li>
                            <a href="reserva" title="最新工地" class="son">最新工地</a>
                        </li>
                                            <li>
                            <a href="spec" title="最新工地" class="son">最新活动</a>
                        </li>
                                            <li>
                            <a href="indent" title="最新工地" class="son">在线报名</a>
                        </li>
                                            <li>
                            <a href="book" title="最新工地" class="son">在线咨询</a>
                        </li>
                    					</ol>
                                    </li>
                                                <li>
                    <a href="process" title="别墅施工" class="par">
                        <i class="c5">5</i><em>别墅施工</em><cite>PROJECT</cite>
                    </a>
                    					<ol>
                                            <li>
                            <a href="oscars.html" title="别墅施工" class="son">奥斯卡施工</a>
                        </li>
                                            <li>
                            <a href="osc-sggl.html" title="别墅施工" class="son">施工管理</a>
                        </li>
                                            <li>
                            <a href="osc-zxlc.html" title="别墅施工" class="son">装修流程</a>
                        </li>
                                            <li>
                            <a href="osc-gdsg.html" title="别墅施工" class="son">工地施工</a>
                        </li>
                                            <li>
                            <a href="osc-dtgy.html" title="别墅施工" class="son">首创工艺</a>
                        </li>
                                            <li>
                            <a href="osc-fccl.html" title="别墅施工" class="son">辅材材料</a>
                        </li>
                    					</ol>
                                    </li>
                                                <li>
                    <a href="news" title="装修百科" class="par">
                        <i class="c6">6</i><em>装修百科</em><cite>NEWS</cite>
                    </a>
                    					<ol>
                                            <li>
                            <a href="news1" title="装修百科" class="son">别墅空间</a>
                        </li>
                                            <li>
                            <a href="news2" title="装修百科" class="son">设计风水</a>
                        </li>
                                            <li>
                            <a href="news3" title="装修百科" class="son">建材挑选</a>
                        </li>
                    					</ol>
                                    </li>
                                                <li>
                    <a href="about" title="品质服务" class="par">
                        <i class="c7">7</i><em>品质服务</em><cite>SERVICE</cite>
                    </a>
                    					<ol>
                                            <li>
                            <a href="about.html" title="品质服务" class="son">企业简介</a>
                        </li>
                                            <li>
                            <a href="news4" title="品质服务" class="son">公司动态</a>
                        </li>
                                            <li>
                            <a href="think" title="品质服务" class="son">客户评价</a>
                        </li>
                                            <li>
                            <a href="honour.html" title="品质服务" class="son">公司荣誉</a>
                        </li>
                                            <li>
                            <a href="job" title="品质服务" class="son">人才招聘</a>
                        </li>
                                            <li>
                            <a href="contact.html" title="品质服务" class="son">联系我们</a>
                        </li>
                    					</ol>
                                    </li>

                                    <!--#test end#-->
                                            </ul>
        </div>
    </div>
</div>


<!--#top end#-->





</body>
</html>