{$Include file='head.html' block='top'$} 

<div class="Wrap iPlayer" id="iPlayer">
    <div class="bd">
        <ul>
                        <li style="background-image:url([$cfg_webimages$]/6be041e727cda7f3_5c183a4f.jpg);background-color:;">
            <a href="1164.html" title="香港观唐23项材料工艺全面升级">香港观唐23项材料工艺全面升级</a></li>
                        <li style="background-image:url([$cfg_webimages$]/fee0c43916b601f4.jpg);background-color:;">
            <a href="custom.html" title="全案定制">全案定制</a></li>
                        <li style="background-image:url([$cfg_webimages$]/16f8d4931124de99.jpg);background-color:;">
            <a href="cases1" title="香港观唐私宅定制设计">香港观唐私宅定制设计</a></li>
                    </ul>
    </div>
    <a href="javascript:void(0)" class="btn prev"><span class="fsti">&lt;</span></a>
    <a href="javascript:void(0)" class="btn next"><span class="fsti">&gt;</span></a>
                <ul class="iModule posa" id="iModule">
                <li class="c1">
            <div class="info">
                <h3><i></i>实景案例</h3>
                <p>浏览超过2000+套经典案例</p>
            </div>
            <div class="txt">
                <h3>实景案例</h3>
                <p>浏览超过2000+套经典案例</p>
                <a href="cases" class="order">立即查看</a>
            </div>
                        <div class="img"><img src="[$cfg_webimages$]/44f074324c9a9b6b.jpg" alt="实景案例" /></div>
                    </li>
                <li class="c2">
            <div class="info">
                <h3><i></i>全案定制</h3>
                <p>全程享受完整方案定制服务</p>
            </div>
            <div class="txt">
                <h3>全案定制</h3>
                <p>全程享受完整方案定制服务</p>
                <a href="custom.html" class="order">立即查看</a>
            </div>
                        <div class="img"><img src="[$cfg_webimages$]/d3b6e4737424ef5e.jpg" alt="全案定制" /></div>
                    </li>
                <li class="c3">
            <div class="info">
                <h3><i></i>找设计师</h3>
                <p>业内顶级明星设计师服务</p>
            </div>
            <div class="txt">
                <h3>找设计师</h3>
                <p>业内顶级明星设计师服务</p>
                <a href="team" class="order">立即查看</a>
            </div>
                        <div class="img"><img src="[$cfg_webimages$]/013e1b89a37ab438.jpg" alt="找设计师" /></div>
                    </li>
                <li class="c4">
            <div class="info">
                <h3><i></i>服务客户</h3>
                <p>服务客户超过35000户</p>
            </div>
            <div class="txt">
                <h3>服务客户</h3>
                <p>服务客户超过35000户</p>
                <a href="#" class="order">立即查看</a>
            </div>
                        <div class="img"><img src="[$cfg_webimages$]/644b647c5c23b7da.jpg" alt="服务客户" /></div>
                    </li>
            </ul>
    </div>
    
<div class="Wrap bgf3">
    <div class="Column">
        <div class="hr20"></div>
        <div class="hr30"></div>
        <div class="ibTitle iCases_tt">
            <h2><span>实景案例/CASES</span></h2>
            <p>10万套案例覆盖省内高端别墅豪宅楼盘</p>
        </div>
		<div class="iSearch">
        <form method="get" action="/search" target="_blank">
            <input type="hidden" name="mid" value="103" />
            <input type="hidden" name="ext[dstyle]" id="ext" value="" />
            <div class="chosen">
            	<i class="arrow fr"></i><p>全部风格</p>
                                <ul>
                                	<li data="fg01">新古典</li>
                                	<li data="fg02">欧式古典</li>
                                	<li data="fg03">美式乡村</li>
                                	<li data="fg07">现代简约</li>
                                	<li data="fg09">新中式</li>
                                	<li data="fg25">英伦风格</li>
                                	<li data="fg24">工业风</li>
                                	<li data="fg21">港式风格</li>
                                	<li data="fg20">地中海风格</li>
                                	<li data="fg19">中式风格</li>
                                	<li data="fg18">现代中式</li>
                                	<li data="fg15">法式</li>
                                	<li data="fg14">简约时尚</li>
                                	<li data="fg13">混搭风格</li>
                                	<li data="fg12">东南亚风格</li>
                                	<li data="fg11">美式风格</li>
                                	<li data="fg10">简约欧式</li>
                                </ul>
                            </div>
            <input type="submit" class="submit" value="搜索" />
        </form>
        </div>
                        <ul class="iHouses clearfix" id="iHouses">
            <li class="first red fb">热装楼盘</li>
            <li class="bar"><i></i></li>
                                    <li>
                <a href="327.html" title="海尔绿城绿城玫瑰园御园玺园锦兰园" target="_blank">海尔绿城绿城玫瑰园御园玺园锦兰园</a>
                <div class="box">
                    <div class="info">
                        <img src="[$cfg_webimages$]/thumb_1767.jpg" alt="海尔绿城绿城玫瑰园御园玺园锦兰园" />
                        <p class="opac8b">
                            <a href="reinfo?houses=327" class="visit" target="_blank">看工地</a>
                            <em>已预约：45</em>                            <em>工地数：29</em>                        </p>
                    </div>
                </div>
            </li>
                                                <li>
                <a href="65.html" title="中海铂宫央墅" target="_blank">中海铂宫央墅</a>
                <div class="box">
                    <div class="info">
                        <img src="[$cfg_webimages$]/thumb_1766.jpg" alt="中海铂宫央墅" />
                        <p class="opac8b">
                            <a href="reinfo?houses=65" class="visit" target="_blank">看工地</a>
                            <em>已预约：55</em>                            <em>工地数：15</em>                        </p>
                    </div>
                </div>
            </li>
                                                <li>
                <a href="799.html" title="华润仰山" target="_blank">华润仰山</a>
                <div class="box">
                    <div class="info">
                        <img src="[$cfg_webimages$]/thumb_3891.jpg" alt="华润仰山" />
                        <p class="opac8b">
                            <a href="reinfo?houses=799" class="visit" target="_blank">看工地</a>
                            <em>已预约：15</em>                            <em>工地数：6</em>                        </p>
                    </div>
                </div>
            </li>
                                                <li>
                <a href="57.html" title="漫山香墅" target="_blank">漫山香墅</a>
                <div class="box">
                    <div class="info">
                        <img src="[$cfg_webimages$]/thumb_35.jpg" alt="漫山香墅" />
                        <p class="opac8b">
                            <a href="reinfo?houses=57" class="visit" target="_blank">看工地</a>
                            <em>已预约：39</em>                            <em>工地数：20</em>                        </p>
                    </div>
                </div>
            </li>
                                                <li>
                <a href="266.html" title="鲁商·御龙湾" target="_blank">鲁商·御龙湾</a>
                <div class="box">
                    <div class="info">
                        <img src="[$cfg_webimages$]/thumb_1768.jpg" alt="鲁商·御龙湾" />
                        <p class="opac8b">
                            <a href="reinfo?houses=266" class="visit" target="_blank">看工地</a>
                            <em>已预约：55</em>                            <em>工地数：30</em>                        </p>
                    </div>
                </div>
            </li>
                                                <li>
                <a href="463.html" title="名士豪庭揽山墅" target="_blank">名士豪庭揽山墅</a>
                <div class="box">
                    <div class="info">
                        <img src="[$cfg_webimages$]/thumb_2001.jpg" alt="名士豪庭揽山墅" />
                        <p class="opac8b">
                            <a href="reinfo?houses=463" class="visit" target="_blank">看工地</a>
                            <em>已预约：30</em>                            <em>工地数：12</em>                        </p>
                    </div>
                </div>
            </li>
                                                <li>
                <a href="58.html" title="蟠龙山水" target="_blank">蟠龙山水</a>
                <div class="box">
                    <div class="info">
                        <img src="[$cfg_webimages$]/thumb_36.jpg" alt="蟠龙山水" />
                        <p class="opac8b">
                            <a href="reinfo?houses=58" class="visit" target="_blank">看工地</a>
                            <em>已预约：63</em>                            <em>工地数：30</em>                        </p>
                    </div>
                </div>
            </li>
                                                <li>
                <a href="670.html" title="重汽·莱蒙湖" target="_blank">重汽·莱蒙湖</a>
                <div class="box">
                    <div class="info">
                        <img src="[$cfg_webimages$]/thumb_3238.jpg" alt="重汽·莱蒙湖" />
                        <p class="opac8b">
                            <a href="reinfo?houses=670" class="visit" target="_blank">看工地</a>
                            <em>已预约：36</em>                            <em>工地数：21</em>                        </p>
                    </div>
                </div>
            </li>
                                                <li>
                <a href="64.html" title="中海奥龙官邸" target="_blank">中海奥龙官邸</a>
                <div class="box">
                    <div class="info">
                        <img src="[$cfg_webimages$]/thumb_42.jpg" alt="中海奥龙官邸" />
                        <p class="opac8b">
                            <a href="reinfo?houses=64" class="visit" target="_blank">看工地</a>
                            <em>已预约：61</em>                            <em>工地数：11</em>                        </p>
                    </div>
                </div>
            </li>
                                </ul>
        <div class="hr30"></div>
                        <div class="iCasesL fl" id="iCasesL">
                                    <div class="bd">
                <ul>
                                                    <li>
                        <a href="1235.html" title="中海铂宫双拼别墅装修中式风格完工实景" class="imga" target="_blank"><img src="[$cfg_webimages$]/big_5888.jpg" alt="中海铂宫双拼别墅装修中式风格完工实景" /></a>
                        <div class="info opac8r">
                            <em>精品鉴赏</em>
                            <h3><a href="">中海铂宫双拼别墅装修中式风格完工实景</a></h3>
                            <p>中式风格&nbsp;&nbsp;|&nbsp;&nbsp;别墅&nbsp;&nbsp;|&nbsp;&nbsp;56万元</p>
                            <p class="note"> 中海铂宫双拼别墅装修完工作品，中式风格的完工实景。一些简约的造型为基础，……</p>
                                                    </div>
                    </li>
                                                                    <li>
                        <a href="1218.html" title="纽约时刻-漫山香墅现代简约风格别墅装修实景" class="imga" target="_blank"><img src="[$cfg_webimages$]/big_5828.jpg" alt="纽约时刻-漫山香墅现代简约风格别墅装修实景" /></a>
                        <div class="info opac8r">
                            <em>精品鉴赏</em>
                            <h3><a href="">纽约时刻-漫山香墅现代简约风格别墅装修实景</a></h3>
                            <p>现代简约&nbsp;&nbsp;|&nbsp;&nbsp;别墅&nbsp;&nbsp;|&nbsp;&nbsp;30万元</p>
                            <p class="note"> 漫山香墅别墅装修 方案采用现代简约风格，空间追求简约、大气、时尚。设计线……</p>
                                                                                    <p class="des">聂菁</p>
                                                                                </div>
                    </li>
                                                                    <li>
                        <a href="1143.html" title="名士豪庭揽山墅稳重中式简约别墅装修设计方案实景" class="imga" target="_blank"><img src="[$cfg_webimages$]/big_5503.jpg" alt="名士豪庭揽山墅稳重中式简约别墅装修设计方案实景" /></a>
                        <div class="info opac8r">
                            <em>精品鉴赏</em>
                            <h3><a href="">名士豪庭揽山墅稳重中式简约别墅装修设计方案实景</a></h3>
                            <p>港式风格&nbsp;&nbsp;|&nbsp;&nbsp;别墅&nbsp;&nbsp;|&nbsp;&nbsp;34万元</p>
                            <p class="note">济南名士豪庭揽山墅别墅装修实景案例，凸显业主沉稳大气的生活态度。本案是完……</p>
                                                    </div>
                    </li>
                                                                    <li>
                        <a href="104.html" title="Hotel-崮云湖装修|现代简约风格|度假别墅设计" class="imga" target="_blank"><img src="[$cfg_webimages$]/big_319.jpg" alt="Hotel-崮云湖装修|现代简约风格|度假别墅设计" /></a>
                        <div class="info opac8r">
                            <em>精品鉴赏</em>
                            <h3><a href="">Hotel-崮云湖装修|现代简约风格|度假别墅设计</a></h3>
                            <p>现代简约&nbsp;&nbsp;|&nbsp;&nbsp;酒店会所&nbsp;&nbsp;|&nbsp;&nbsp;115万元</p>
                            <p class="note">简约并不是缺乏设计要素，它是一种更高层次的创作境界。在室内设计方面，不是要……</p>
                                                                                    <p class="des">迟连友</p>
                                                                                </div>
                    </li>
                                                                    <li>
                        <a href="107.html" title="度假风情-临沂别墅装修|托斯卡纳风格|样板间设计完工实景" class="imga" target="_blank"><img src="[$cfg_webimages$]/big_2697.jpg" alt="度假风情-临沂别墅装修|托斯卡纳风格|样板间设计完工实景" /></a>
                        <div class="info opac8r">
                            <em>精品鉴赏</em>
                            <h3><a href="">度假风情-临沂别墅装修|托斯卡纳风格|样板间设计完工实景</a></h3>
                            <p>欧式古典&nbsp;&nbsp;|&nbsp;&nbsp;复式&nbsp;&nbsp;|&nbsp;&nbsp;160万元</p>
                            <p class="note">托斯卡纳风格，又有意式园林的美称，它是一种极其简朴的装修风格，且具备独特的优……</p>
                                                    </div>
                    </li>
                                                </ul>
            </div>
            <div class="btns posa">
                <li class="opac7b fari page"></li>
                <li class="opac7b btn fsti prev">&lt;</li>
                <li class="opac7b btn fsti next">&gt;</li>
            </div>
                        		</div>
        <div class="iCasesB fl">
                                    <ul class="clearfix">
                                        <li>
                    <div class="info">
                        <h3>质朴</h3>
                                            <p>中海铂宫装修&nbsp;<span class="red">美式风格</span></p>
                    </div>
                    <a href="1274.html" title="中海铂宫装修" class="imga" target="_blank"><img src="[$cfg_webimages$]/mobile_6073.jpg" alt="中海铂宫装修" /><span class="des opac8r">聂菁设计</span></a>
                    <i class="line"></i>
                </li>
                                        <li>
                    <div class="info">
                        <h3>中式沉香</h3>
                                            <p>御龙湾装修&nbsp;<span class="red">新中式</span></p>
                    </div>
                    <a href="414.html" title="御龙湾装修" class="imga" target="_blank"><img src="[$cfg_webimages$]/mobile_1674.jpg" alt="御龙湾装修" /><span class="des opac8r">赵庆华设计</span></a>
                    <i class="line"></i>
                </li>
                                        <li class="last">
                    <div class="info">
                        <h3>岁月鎏金</h3>
                                            <em class="fr">现代简约&nbsp;|&nbsp;大平层&nbsp;|&nbsp;20万元</em>
                                            <p>奥龙观邸装修&nbsp;<span class="red">现代简约</span></p>
                    </div>
                    <a href="281.html" title="奥龙观邸装修" class="imga" target="_blank"><img src="[$cfg_webimages$]/mobile_1288.jpg" alt="奥龙观邸装修" /><span class="des opac8r">郝雪飞设计</span></a>
                    <i class="line"></i>
                </li>
                                    </ul>
                                </div>
        <div class="iCasesR fl">
                                    <ul class="clearfix">
                                                <li class="col_1">
                    <a href="659.html" title="邂逅摩洛哥-奥龙官邸装修|新中式风格|别墅设计实景" class="imga posr" target="_blank">
                        <img src="[$cfg_webimages$]/thumb_3158.jpg" alt="邂逅摩洛哥-奥龙官邸装修|新中式风格|别墅设计实景" />
                                            <div class="info opac8r">
                            <i class="pane"></i>
                            <h3>-新中式-</h3>
                            <p>邂逅摩洛哥-奥龙官邸装修|新中式风格|别墅设计实景</p>
                        </div>
                                        </a>
                                                    <a href="533.html" class="des" target="_blank">
                        <div class="img">
                            <span><img src="[$cfg_webimages$]/photo_5467.jpg" alt="韩文睿" /></span>
                        </div>
                        <p>设计&nbsp;/&nbsp;韩文睿</p>
                    </a>
                                                </li>
                                                <li class="col_2">
                    <a href="105.html" title="Holiday-卧虎山装修|欧式风格|度假会所别墅设计" class="imga posr" target="_blank">
                        <img src="[$cfg_webimages$]/thumb_325.jpg" alt="Holiday-卧虎山装修|欧式风格|度假会所别墅设计" />
                                            <div class="info opac9w">
                            <i class="pane"></i>
                            <h3>Holiday-卧虎山装修|欧式风格|度假会所别墅设计</h3>
                            <p>欧式古典&nbsp;|&nbsp;酒店会所&nbsp;|&nbsp;120万元</p>
                        </div>
                                        </a>
                                                    <a href="26.html" class="des opac8r" target="_blank"><p>马捷设计</p></a>
                    <div class="line"></div>
                                                </li>
                                            </ul>
                                </div>
		<div class="hr40"></div>
	</div>
</div>
<div class="Wrap iVideo360" style="background-image: url([$cfg_webimages$]/e3df7d1fe26660ca.jpg);">
	<a href="video" title="360实景案例视频品鉴" class="Column" target="_blank">360实景案例视频品鉴</a>
</div>
<div class="hr30"></div>
<div class="Column">
            <div class="iTeam fl" id="iTeam">
        <h2 class="isTitle"><em>设计团队</em><i>Designer</i></h2>
        <div class="bd">
            <ul>
                                        <li>
                    <a href="27.html" title="郝雪飞" target="_blank" class="imga"><img src="[$cfg_webimages$]/photo_3352.jpg" alt="郝雪飞" /></a>
                    <div class="work"><span>13</span>年&nbsp;&nbsp;工作经验</div>
                    <span class="pos fr">设计总监</span>
                    <a href="27.html" title="郝雪飞" target="_blank" class="name">郝雪飞</a>
                    <div class="ico">
                        <a href="27.html" target="_blank" class="view fr"><i></i>详情</a>
                        <a href="indent?designer=27" target="_blank" class="order fl"><i></i>预约</a>
                    </div>
                </li>
                                                    <li>
                    <a href="29.html" title="迟连友" target="_blank" class="imga"><img src="[$cfg_webimages$]/photo_4542.jpg" alt="迟连友" /></a>
                    <div class="work"><span>12</span>年&nbsp;&nbsp;工作经验</div>
                    <span class="pos fr">首席设计师</span>
                    <a href="29.html" title="迟连友" target="_blank" class="name">迟连友</a>
                    <div class="ico">
                        <a href="29.html" target="_blank" class="view fr"><i></i>详情</a>
                        <a href="indent?designer=29" target="_blank" class="order fl"><i></i>预约</a>
                    </div>
                </li>
                                                    <li>
                    <a href="25.html" title="聂菁" target="_blank" class="imga"><img src="[$cfg_webimages$]/photo_5661.jpg" alt="聂菁" /></a>
                    <div class="work"><span>11</span>年&nbsp;&nbsp;工作经验</div>
                    <span class="pos fr">主案设计师</span>
                    <a href="25.html" title="聂菁" target="_blank" class="name">聂菁</a>
                    <div class="ico">
                        <a href="25.html" target="_blank" class="view fr"><i></i>详情</a>
                        <a href="indent?designer=25" target="_blank" class="order fl"><i></i>预约</a>
                    </div>
                </li>
                                                    <li>
                    <a href="26.html" title="马捷" target="_blank" class="imga"><img src="[$cfg_webimages$]/photo_3353.jpg" alt="马捷" /></a>
                    <div class="work"><span>11</span>年&nbsp;&nbsp;工作经验</div>
                    <span class="pos fr">主案设计师</span>
                    <a href="26.html" title="马捷" target="_blank" class="name">马捷</a>
                    <div class="ico">
                        <a href="26.html" target="_blank" class="view fr"><i></i>详情</a>
                        <a href="indent?designer=26" target="_blank" class="order fl"><i></i>预约</a>
                    </div>
                </li>
                                                    <li>
                    <a href="661.html" title="李丹" target="_blank" class="imga"><img src="[$cfg_webimages$]/photo_6309.png" alt="李丹" /></a>
                    <div class="work"><span>9</span>年&nbsp;&nbsp;工作经验</div>
                    <span class="pos fr">主案设计师</span>
                    <a href="661.html" title="李丹" target="_blank" class="name">李丹</a>
                    <div class="ico">
                        <a href="661.html" target="_blank" class="view fr"><i></i>详情</a>
                        <a href="indent?designer=661" target="_blank" class="order fl"><i></i>预约</a>
                    </div>
                </li>
                                                    <li>
                    <a href="747.html" title="于文龙" target="_blank" class="imga"><img src="[$cfg_webimages$]/photo_4543.jpg" alt="于文龙" /></a>
                    <div class="work"><span>8</span>年&nbsp;&nbsp;工作经验</div>
                    <span class="pos fr">主案设计师</span>
                    <a href="747.html" title="于文龙" target="_blank" class="name">于文龙</a>
                    <div class="ico">
                        <a href="747.html" target="_blank" class="view fr"><i></i>详情</a>
                        <a href="indent?designer=747" target="_blank" class="order fl"><i></i>预约</a>
                    </div>
                </li>
                                                    <li>
                    <a href="533.html" title="韩文睿" target="_blank" class="imga"><img src="[$cfg_webimages$]/photo_5467.jpg" alt="韩文睿" /></a>
                    <div class="work"><span>15</span>年&nbsp;&nbsp;工作经验</div>
                    <span class="pos fr">主案设计师</span>
                    <a href="533.html" title="韩文睿" target="_blank" class="name">韩文睿</a>
                    <div class="ico">
                        <a href="533.html" target="_blank" class="view fr"><i></i>详情</a>
                        <a href="indent?designer=533" target="_blank" class="order fl"><i></i>预约</a>
                    </div>
                </li>
                                                    <li>
                    <a href="425.html" title="赵庆华" target="_blank" class="imga"><img src="[$cfg_webimages$]/photo_3175.jpg" alt="赵庆华" /></a>
                    <div class="work"><span>16</span>年&nbsp;&nbsp;工作经验</div>
                    <span class="pos fr">主案设计师</span>
                    <a href="425.html" title="赵庆华" target="_blank" class="name">赵庆华</a>
                    <div class="ico">
                        <a href="425.html" target="_blank" class="view fr"><i></i>详情</a>
                        <a href="indent?designer=425" target="_blank" class="order fl"><i></i>预约</a>
                    </div>
                </li>
                                    </ul>
        </div>
        <div class="btn">
            <a href="javascript:void(0)" class="prev">&lt;</a>
            <a href="javascript:void(0)" class="next">&gt;</a>
        </div>
    </div>
                    <div class="iVisit fl" id="iVisit">
        <h2 class="isTitle"><em>样板间预约参观</em><i>Appoinment</i></h2>
        <ul>
                                    <li class="first">
                <div class="ht">简约欧式 - 恒大帝景花园洋房装修施工</div>
                <div class="box">
                    <div class="imga">
                        <a href="1234.html" title="恒大帝景花园洋房装修施工" target="_blank" class="img"><img src="[$cfg_webimages$]/thumb_5882.jpg" alt="恒大帝景花园洋房装修施工" /></a>
                        <div class="info opac8r">
                            <a href="reinfo?reserva=1234" class="visit fr" target="_blank">预约参观</a>
                            <h3><a href="" class="fff fn">简约欧式 - 恒大帝景花园洋房装修施工</a></h3>
                            <p>200㎡ / 13万元</p>
                        </div>
                    </div>
                </div>
            </li>
                                                <li>
                <div class="ht">欧式古典 - 济南别墅装修-漫山香墅别墅装修完工软装进场</div>
                <div class="box">
                    <div class="imga">
                        <a href="1232.html" title="济南别墅装修-漫山香墅别墅装修完工软装进场" target="_blank" class="img"><img src="[$cfg_webimages$]/thumb_5859.jpg" alt="济南别墅装修-漫山香墅别墅装修完工软装进场" /></a>
                        <div class="info opac8r">
                            <a href="reinfo?reserva=1232" class="visit fr" target="_blank">预约参观</a>
                            <h3><a href="" class="fff fn">欧式古典 - 济南别墅装修-漫山香墅别墅装修完工软装进场</a></h3>
                            <p>420㎡ / 160万元</p>
                        </div>
                    </div>
                </div>
            </li>
                                                <li>
                <div class="ht">华润仰山别墅装修尾期工程实景</div>
                <div class="box">
                    <div class="imga">
                        <a href="982.html" title="华润仰山别墅装修尾期工程实景" target="_blank" class="img"><img src="[$cfg_webimages$]/thumb_4572.jpg" alt="华润仰山别墅装修尾期工程实景" /></a>
                        <div class="info opac8r">
                            <a href="reinfo?reserva=982" class="visit fr" target="_blank">预约参观</a>
                            <h3><a href="" class="fff fn">华润仰山别墅装修尾期工程实景</a></h3>
                            <p>300㎡ / 35万元</p>
                        </div>
                    </div>
                </div>
            </li>
                                </ul>
    </div>
        </div>
<div class="hr20"></div>
<div class="hr30"></div>
<div class="Column iReserva">
    <div class="ibTitle iReserva_tt">
    	<h2><span>最新工地 /BUILDINGS</span></h2>
                        	                	                	                	                	                	                	                	                	                	                	                	                	                	                	                	                	                	                	                        <p>合作楼盘<i class="red"> 19 </i>个，已预约<i class="red"> 862 </i>户，已施工<i class="red"> 468 </i>户</p>
    	    </div>
    <ul class="clearfix">
            <li class="qqzb">
            <a href="qqzb" title="前期准备" target="_blank">
                <em></em><h3>前期准备</h3>
                <p class="view">查看该阶段</p>
            </a>
        </li>
            <li class="tyzx">
            <a href="tyzx" title="庭院装修" target="_blank">
                <em></em><h3>庭院装修</h3>
                <p class="view">查看该阶段</p>
            </a>
        </li>
            <li class="znsb">
            <a href="znsb" title="智能设备" target="_blank">
                <em></em><h3>智能设备</h3>
                <p class="view">查看该阶段</p>
            </a>
        </li>
            <li class="sdgc">
            <a href="sdgc" title="水电工程" target="_blank">
                <em></em><h3>水电工程</h3>
                <p class="view">查看该阶段</p>
            </a>
        </li>
            <li class="fsgc">
            <a href="fsgc" title="防水工程" target="_blank">
                <em></em><h3>防水工程</h3>
                <p class="view">查看该阶段</p>
            </a>
        </li>
            <li class="wmgc cb c6">
            <a href="wmgc" title="瓦木工程" target="_blank">
                <em></em><h3>瓦木工程</h3>
                <p class="view">查看该阶段</p>
            </a>
        </li>
            <li class="yqgc cb">
            <a href="yqgc" title="油漆工程" target="_blank">
                <em></em><h3>油漆工程</h3>
                <p class="view">查看该阶段</p>
            </a>
        </li>
            <li class="cpaz cb">
            <a href="cpaz" title="成品安装" target="_blank">
                <em></em><h3>成品安装</h3>
                <p class="view">查看该阶段</p>
            </a>
        </li>
            <li class="jjrz cb">
            <a href="jjrz" title="家具软装" target="_blank">
                <em></em><h3>家具软装</h3>
                <p class="view">查看该阶段</p>
            </a>
        </li>
        </ul>
</div>
<div class="hr30"></div>
<div class="Column iPartner" id="iPartner">
    <div class="hd">
        <ul class="inline">
            <li class="on">合作楼盘</li>
            <li>合作品牌</li>
        </ul>
    </div>
    <div class="bd">
        <ul>
                                                <li>
                <img src="[$cfg_webimages$]/b7d30090c2a22e47.jpg" alt="华润仰山" /><i></i>
            </li>
                                                <li>
                <img src="[$cfg_webimages$]/3a34a5b3911b022e.jpg" alt="中海铂宫央墅" /><i></i>
            </li>
                                                <li>
                <img src="[$cfg_webimages$]/fdadad586e05f437.jpg" alt="漫山香墅" /><i></i>
            </li>
                                                <li>
                <img src="[$cfg_webimages$]/fc2b1eab9851a426.jpg" alt="名士豪庭揽山墅" /><i></i>
            </li>
                                                <li>
                <img src="[$cfg_webimages$]/04b43fc517bce2f7.jpg" alt="莱芜怡和缘" /><i></i>
            </li>
                                                <li>
                <img src="[$cfg_webimages$]/1083e33a9a4c147c.jpg" alt="海尔绿城绿城玫瑰园御园玺园锦兰园" /><i></i>
            </li>
                                                <li>
                <img src="[$cfg_webimages$]/15e86b9bef33df67.jpg" alt="重汽·莱蒙湖" /><i></i>
            </li>
                                                <li>
                <img src="[$cfg_webimages$]/93fea14e73bce5d1.jpg" alt="国华东方美郡" /><i></i>
            </li>
                                                <li id="end">
                <img src="[$cfg_webimages$]/8a8db09ed3e9f23e.jpg" alt="鲁商·御龙湾" /><i></i>
            </li>
                                                <li>
                <img src="[$cfg_webimages$]/3a34a5b3911b022e.jpg" alt="中海紫御东郡" /><i></i>
            </li>
                                                <li>
                <img src="[$cfg_webimages$]/dc293cd81d9df8e6.jpg" alt="长清原香溪谷|康桥圣菲|中建瀛园|长清湖" /><i></i>
            </li>
                                                <li>
                <img src="[$cfg_webimages$]/3a34a5b3911b022e.jpg" alt="中海奥龙官邸" /><i></i>
            </li>
                                                <li>
                <img src="[$cfg_webimages$]/87c185ab62fd81f9.jpg" alt="崮云湖高尔夫别墅" /><i></i>
            </li>
                                                <li>
                <img src="[$cfg_webimages$]/bfbe344e9d91dc71.jpg" alt="卧虎山度假村" /><i></i>
            </li>
                                                <li>
                <img src="[$cfg_webimages$]/094fff10deaf3c22.jpg" alt="蟠龙山水" /><i></i>
            </li>
                                                <li>
                <img src="[$cfg_webimages$]/45059492e83cadd9.jpg" alt="外地别墅工程项目" /><i></i>
            </li>
                                                <li>
                <img src="[$cfg_webimages$]/3431f6d7212defa8.png" alt="莱芜恒大金碧天下|雪野湖" /><i></i>
            </li>
                                                <li id="end">
                <img src="[$cfg_webimages$]/3431f6d7212defa8.png" alt="千佛山熙园|浪潮玺园|黄金99|开元府|燕玺台|佛山静院" /><i></i>
            </li>
                                            </ul>
        <ul>
                                                    <li><img src="[$cfg_webimages$]/bd07853e07f355c2.jpg" alt="欧神诺陶瓷" /><i></i></li>
                                                    <li><img src="[$cfg_webimages$]/95fcea9da6e10b55.jpg" alt="松下新风" /><i></i></li>
                                                    <li><img src="[$cfg_webimages$]/9820cd76d2eefe24.jpg" alt="百朗" /><i></i></li>
                                                    <li><img src="[$cfg_webimages$]/df0fbe65d22069f4.jpg" alt="德国菲斯曼供热" /><i></i></li>
                                                    <li><img src="[$cfg_webimages$]/2a2e0be7985dd3f4.jpg" alt="名匠石材" /><i></i></li>
                                                    <li><img src="[$cfg_webimages$]/0337392cc6d373a6.jpg" alt="德国斯宝亚创" /><i></i></li>
                                                    <li><img src="[$cfg_webimages$]/2e7a0fb546d74279.jpg" alt="卡诺瓦橱柜" /><i></i></li>
                                                    <li><img src="[$cfg_webimages$]/9f7f4159b41a969e.jpg" alt="卡邦供暖" /><i></i></li>
                                                    <li id="end"><img src="[$cfg_webimages$]/7a46c561ae257b24.jpg" alt="顶固衣柜" /><i></i></li>
                                                    <li><img src="[$cfg_webimages$]/384cbabb31c177e0.jpg" alt="阔盛" /><i></i></li>
                                                    <li><img src="[$cfg_webimages$]/ea08204197e525ea.jpg" alt="美国怡口净水" /><i></i></li>
                                                    <li><img src="[$cfg_webimages$]/3b1df63f100e5293.jpg" alt="欧博诺" /><i></i></li>
                                                    <li><img src="[$cfg_webimages$]/3f369c0e855139f2.jpg" alt="日立变频家用中央空调" /><i></i></li>
                                                    <li><img src="[$cfg_webimages$]/563b4c89e2eaf2d4.jpg" alt="三菱重工中央空调" /><i></i></li>
                                                    <li><img src="[$cfg_webimages$]/5fffaebcccedc1ec.jpg" alt="威乃达橱柜" /><i></i></li>
                                                    <li><img src="[$cfg_webimages$]/b60baaa5b0dd24e3.jpg" alt="日立空调" /><i></i></li>
                                                    <li><img src="[$cfg_webimages$]/72fc883012b597c8.jpg" alt="芒果瓷砖" /><i></i></li>
                                                    <li id="end"><img src="[$cfg_webimages$]/bfc554e09bbde004.jpg" alt="长谷瓷砖" /><i></i></li>
                                            </ul>
    </div>
</div>
<div class="hr10"></div>
<div class="Wrap iNews">
	<div class="Column">
        <ul>
                                    <li class="first">
                <a href="1358.html" title="独栋别墅装修南美风情打造热情内敛家居" class="imga posr" target="_blank">
                    <img src="[$cfg_webimages$]/thumb2_6529.jpg" alt="独栋别墅装修南美风情打造热情内敛家居" />
                    <div class="info posa opac7b">
                        <h3>别墅空间</h3>
                        <h5>独栋别墅装修南美风情打造热情内敛家居</h5>
                    </div>
                </a>
            </li>
                                    <li class="hover">
                <a href="1352.html" title="素雅-济南华润仰山别墅装修美式风格设计作品" target="_blank">
                    <h4>素雅-济南华润仰山别墅装修美式风格设计作品</h4>
                    <p>闭上眼睛，去感受那份午后的恬静阳光。当阳光透过天窗玻璃，洒在地上，墙上的绿植……</p>
                </a>
            </li>
                                    <li>
                <a href="1350.html" title="真实-欧式风格中海铂宫385㎡别墅装修设计" target="_blank">
                    <h4>真实-欧式风格中海铂宫385㎡别墅装修设计</h4>
                    <p>中海铂宫别墅装修设计不只是美观，更是为了在生活的使用中方便。</p>
                </a>
            </li>
                                    <li>
                <a href="1345.html" title="庄重与优雅并存新中式洋房装修设计方案" target="_blank">
                    <h4>庄重与优雅并存新中式洋房装修设计方案</h4>
                    <p>这套花园洋房装修设计中，将现代和传统进行融合，时尚和古典并存，彰显大家风范。</p>
                </a>
            </li>
                                </ul>
        <ul class="mid">
                        	            <li class="first">
                <a href="1359.html" title="别墅装修后为家人收下这除甲醛的八大方式" class="imga posr" target="_blank">
                    <img src="[$cfg_webimages$]/583958bbbe8e6d84.jpg" alt="别墅装修后为家人收下这除甲醛的八大方式" />
                    <div class="info posa opac7b">
                        <h3>建材挑选</h3>
                        <h5>别墅装修后为家人收下这除甲醛的八大方式</h5>
                    </div>
                </a>
            </li>
        	                	            <li class="hover">
                <a href="1356.html" title="香港观唐七大别墅体系之环保体系" target="_blank">
                    <h4>香港观唐七大别墅体系之环保体系</h4>
                    <p>香港观唐别墅装修体系之环保系统：观唐23项工艺材料全面升级，保障健康无忧入住。</p>
                </a>
            </li>
        	                	            <li>
                <a href="1354.html" title="济南开元府C户型284㎡装修设计分析" target="_blank">
                    <h4>济南开元府C户型284㎡装修设计分析</h4>
                    <p>济南开元府C户型284㎡共四室三厅一厨一卫，丰富的功能面积让开元府装修时能有……</p>
                </a>
            </li>
        	                	            <li>
                <a href="1343.html" title="全案设计整装服务来袭-香港观唐别墅装修公司" target="_blank">
                    <h4>全案设计整装服务来袭-香港观唐别墅装修公司</h4>
                    <p>济南观唐别墅装修公司推行全案设计整装服务，让您尊享品质生活！</p>
                </a>
            </li>
        	                        </ul>
        <ul>
                                        <li class="first">
                <a href="1348.html" title="【香港观唐】大咖上海之行，向生活方式迈进" class="imga posr" target="_blank">
                    <img src="[$cfg_webimages$]/thumb2_6490.jpg" alt="【香港观唐】大咖上海之行，向生活方式迈进" />
                    <div class="info posa opac7b">
                        <h3>公司动态</h3>
                        <h5>【香港观唐】大咖上海之行，向生活方式迈进</h5>
                    </div>
                </a>
            </li>
                                            <li class="hover">
                <a href="1328.html" title="【香港观唐】别墅装修设计大咖学习记" target="_blank">
                    <h4>【香港观唐】别墅装修设计大咖学习记</h4>
                    <p>为挑选更合适的产品，保证效果图的实景还原率，香港观唐组织全体设计师去卖场学……</p>
                </a>
            </li>
                                            <li>
                <a href="1325.html" title="【香港观唐】恭喜韩文睿获“呐喊吧，设计”最佳辩手" target="_blank">
                    <h4>【香港观唐】恭喜韩文睿获“呐喊吧，设计”最佳辩手</h4>
                    <p>恭喜香港观唐别墅装修设计公司设计师韩文睿获得最佳辩手。</p>
                </a>
            </li>
                                            <li>
                <a href="1314.html" title="【香港观唐】设计与再设计-郝雪飞总监日照设计分享会" target="_blank">
                    <h4>【香港观唐】设计与再设计-郝雪飞总监日照设计分享会</h4>
                    <p>香港观唐别墅设计机构设计总监郝雪飞到日照万泰装饰公司进行主题为“设计与……</p>
                </a>
            </li>
                                    </ul>
	</div>
</div>
<script type="text/javascript" src="[$cfg_webjs$]/jquery.SuperSlide.js""></script>
<script src="[$cfg_webjs$]/jquery.index.js"></script>
<div class="Wrap Footer">
    <div class="Column">
    	<img src="[$cfg_webimages$]/底部承诺.png" class="imga" />
    	<div class="hr20"></div>
    	<div class="weixin fr tc">
            <img src="[$cfg_webimages$]/c8095430d1f269d9.gif" />
            <p>扫描二维码</p>
        </div>
        <div class="copy fl">
            <p>山东省济南市市中区旅游路国华东方美郡408-2</p>
            <p>香港观唐版权所有ICP备鲁14001012号-3</p>
            <p>
            <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=37010302000110"><img src="[$cfg_webimages$]/beian.png" style="float:left;"/>鲁公网安备 37010302000110号</a>
            </p>
            <p>香港观唐隶属于济南观唐装饰设计有限公司</p>
    	</div>
		<div class="link">
        		<a href="http://www.xingtangzs.com/" target="_blank">西安装修公司排名</a>
        		<span>|</span><a href="http://www.beyond-sea.com/" target="_blank">办公室装修</a>
        		<span>|</span><a href="http://www.sd-famous.com/" target="_blank">菲莫斯软装设计</a>
        		<span>|</span><a href="http://www.shangceng.org/" target="_blank">成都别墅装修</a>
        		<span>|</span><a href="http://www.bjxtja.com/" target="_blank">北京酒店装修设计</a>
        		<span>|</span><a href="http://tongzhouquzx.com/" target="_blank">北京通州装修公司</a>
        		<span>|</span><a href="http://www.chjmrz.com/" target="_blank">别墅软装设计</a>
        		<span>|</span><a href="http://www.cndiaosu.com/" target="_blank">济南KTV设计</a>
                </div>
                </div>
</div>
<div class="SideFloat" id="sideFloat">
	<ul>
		<li><a href="indent" class="order"><i></i>在线预约</a></li>
    			<li><a href="http://wpa.qq.com/msgrd?v=3&amp;uin=1410735922&menu=yes" title="家居顾问一" target="_blank" class="qq first"><i></i>家居顾问一</a></li>
				<li><a href="http://wpa.qq.com/msgrd?v=3&amp;uin=2774995775&menu=yes" title="家居顾问二" target="_blank" class="qq"><i></i>家居顾问二</a></li>
		    	<li><a href="javascript:void(0);" class="weixin"><i></i>微信二微码<div class="img"><img src="[$cfg_webimages$]/c8095430d1f269d9.gif" /></div></a></li>    	<li><a href="javascript:void(0);" class="weixin"><i></i>访问手机站<div class="img"><img src="[$cfg_webimages$]/53d59bd59035557a.png" /></div></a></li>		<li><a href="javascript:void(0);" class="phone"><i></i>贵宾热线 <span class="red">4008576660</span></a></li>    </ul>
    <div class="bt">
    	<a href="javascript:void(0);" id="sidebackTop" class="back"><i></i></a>
    </div>
</div><script type="text/javascript">
    document.body.oncopy = function () {
        alert("受保护的内容，暂不可复制！");
        return false;
    }
</script>
<span id="cnzz"><script src="http://pw.cnzz.com/c.php?id=1200004170&l=2" language="JavaScript" charset="gb2312"></script></span><div style="display:none;">
<script type="text/javascript"> var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://"); document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F5d24f4142b95d2b176aaf631370e2d07' type='text/javascript'%3E%3C/script%3E")) </script>



 <script type="text/javascript">
var _mvq = _mvq || [];
_mvq.push(['$setAccount', 'm-130766-0']);
_mvq.push(['$logConversion']);
(function() {
    var mvl = document.createElement('script');
    mvl.type = 'text/javascript'; mvl.async = true;
    mvl.src = ('https:' == document.location.protocol ? 'https://static-ssl.mediav.com/mvl.js' : 'http://static.mediav.com/mvl.js');
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(mvl, s); 
})();
</script>    

<a href="http://webscan.360.cn/index/checkwebsite/url/hkgtsj.com"><img border="0" src="http://img.webscan.360.cn/status/pai/hash/926eef4e10c05e9feed3bc1a488724d4/?size=74x27"/></a>

</div><script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?a38827374db8595914e82889239813b9";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script></body>
</html>