<!DOCTYPE html>
<html>
<head><meta http-equiv='Content-Type' content="text/html; charset=gb2312" /><meta name='description' content="{$Web_Description$}" /><meta name='keywords' content="{$Web_KeyWords$}" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$Web_Title$}</title>


<base href="" />
<script type="text/javascript">var base_file = base_url= "";</script>
<link rel="stylesheet" type="text/css" href="[$cfg_webcss$]/style.css" />
<script type="text/javascript" src="[$cfg_webjs$]/jquery.js""></script>
<script src="[$cfg_webjs$]/jquery.placeholder.js""></script>
<script src="[$cfg_webjs$]/jquery.public.js""></script>
<script src="[$cfg_webjs$]/global.js""></script>
<script src="www.js"></script>
<meta name="sogou_site_verification" content="j7OyTK5gah"/>
<meta name="360-site-verification" content="dfb8deab9d1c034b3d3996d77bb494f6" /></head>
<body>
<div class="Wrap Header">
    <i class="lbg posa"></i>
    <div class="Column posr">
        <a href="" class="logo fl">
            <img src="[$cfg_webimages$]/e3e814c055d27025.png" alt="香港观唐别墅设计" />
        </a>
        <div class="Nav fl" id="Nav">
            <ul class="clearfix">
                                                                <li>
                    <a href="cases" title="别墅精装" class="par">
                        <i class="c1">1</i><em>别墅精装</em><cite>CASES</cite>
                    </a>
                    					<ol>
                                            <li>
                            <a href="cases1" title="别墅精装" class="son">别墅大宅</a>
                        </li>
                                            <li>
                            <a href="cases2" title="别墅精装" class="son">平层复式</a>
                        </li>
                                            <li>
                            <a href="cases4" title="别墅精装" class="son">样板间</a>
                        </li>
                                            <li>
                            <a href="cases3" title="别墅精装" class="son">酒店会所</a>
                        </li>
                                            <li>
                            <a href="video" title="别墅精装" class="son">设计视频</a>
                        </li>
                    					</ol>
                                    </li>
                                                <li>
                    <a href="team" title="设计团队" class="par">
                        <i class="c2">2</i><em>设计团队</em><cite>TEAMS</cite>
                    </a>
                    					<ol>
                                            <li>
                            <a href="team" title="设计团队" class="son">设计师</a>
                        </li>
                    					</ol>
                                    </li>
                                                <li>
                    <a href="custom.html" target="_blank" title="全案定制" class="par">
                        <i class="c3">3</i><em>全案定制</em><cite>CUSTOM</cite>
                    </a>
                                    </li>
                                                <li class="current">
                    <a href="reserva" title="最新工地" class="par">
                        <i class="c4">4</i><em>最新工地</em><cite>BUILDING</cite>
                    </a>
                    					<ol>
                                            <li>
                            <a href="house" title="最新工地" class="son">热装楼盘</a>
                        </li>
                                            <li class="current">
                            <a href="reserva" title="最新工地" class="son">最新工地</a>
                        </li>
                                            <li>
                            <a href="spec" title="最新工地" class="son">最新活动</a>
                        </li>
                                            <li>
                            <a href="indent" title="最新工地" class="son">在线报名</a>
                        </li>
                                            <li>
                            <a href="book" title="最新工地" class="son">在线咨询</a>
                        </li>
                    					</ol>
                                    </li>
                                                <li>
                    <a href="process" title="别墅施工" class="par">
                        <i class="c5">5</i><em>别墅施工</em><cite>PROJECT</cite>
                    </a>
                    					<ol>
                                            <li>
                            <a href="oscars.html" title="别墅施工" class="son">奥斯卡施工</a>
                        </li>
                                            <li>
                            <a href="osc-sggl.html" title="别墅施工" class="son">施工管理</a>
                        </li>
                                            <li>
                            <a href="osc-zxlc.html" title="别墅施工" class="son">装修流程</a>
                        </li>
                                            <li>
                            <a href="osc-gdsg.html" title="别墅施工" class="son">工地施工</a>
                        </li>
                                            <li>
                            <a href="osc-dtgy.html" title="别墅施工" class="son">首创工艺</a>
                        </li>
                                            <li>
                            <a href="osc-fccl.html" title="别墅施工" class="son">辅材材料</a>
                        </li>
                    					</ol>
                                    </li>
                                                <li>
                    <a href="news" title="装修百科" class="par">
                        <i class="c6">6</i><em>装修百科</em><cite>NEWS</cite>
                    </a>
                    					<ol>
                                            <li>
                            <a href="news1" title="装修百科" class="son">别墅空间</a>
                        </li>
                                            <li>
                            <a href="news2" title="装修百科" class="son">设计风水</a>
                        </li>
                                            <li>
                            <a href="news3" title="装修百科" class="son">建材挑选</a>
                        </li>
                    					</ol>
                                    </li>
                                                <li>
                    <a href="about" title="品质服务" class="par">
                        <i class="c7">7</i><em>品质服务</em><cite>SERVICE</cite>
                    </a>
                    					<ol>
                                            <li>
                            <a href="about.html" title="品质服务" class="son">企业简介</a>
                        </li>
                                            <li>
                            <a href="news4" title="品质服务" class="son">公司动态</a>
                        </li>
                                            <li>
                            <a href="think" title="品质服务" class="son">客户评价</a>
                        </li>
                                            <li>
                            <a href="honour.html" title="品质服务" class="son">公司荣誉</a>
                        </li>
                                            <li>
                            <a href="job" title="品质服务" class="son">人才招聘</a>
                        </li>
                                            <li>
                            <a href="contact.html" title="品质服务" class="son">联系我们</a>
                        </li>
                    					</ol>
                                    </li>
                                            </ul>
        </div>
    </div>
</div><div class="Wrap moduleTop">
<div class="Column">
	<h2 class="tt">
    	<em>最新工地</em>&nbsp;<span>LATEST CONSTRUCTION SITE</span>
    </h2>
    <div class="leader fr"><a href="">首页</a><span class="fsti">&gt;</span><a href="reserva">最新工地</a></div>
    	<ul class="cate">
					    <li><a href="house">热装楼盘</a></li>
	    							    <li><a href="reserva" class="current">最新工地</a></li>
	    			    <li><a href="spec">最新活动</a></li>
	    			    <li><a href="indent">在线报名</a></li>
	    			    <li><a href="book">在线咨询</a></li>
	    	</ul>
	</div>
</div>

				<div class="Wrap moduleImg" style="background-image: url([$cfg_webimages$]/29de731b47394676_c02302f7.jpg);"></div>
<div class="hr25"></div>
<div class="Column">

<ul class="ReservaCate clearfix">
		<li class="qqzb">
	<a href="qqzb" class="">
		<em class="c1"></em>
		<h3>前期准备</h3>
	</a>
	</li>
		<li class="tyzx even">
	<a href="tyzx" class="">
		<em class="c2"></em>
		<h3>庭院装修</h3>
	</a>
	</li>
		<li class="znsb">
	<a href="znsb" class="">
		<em class="c3"></em>
		<h3>智能设备</h3>
	</a>
	</li>
		<li class="sdgc even">
	<a href="sdgc" class="">
		<em class="c4"></em>
		<h3>水电工程</h3>
	</a>
	</li>
		<li class="fsgc">
	<a href="fsgc" class="">
		<em class="c5"></em>
		<h3>防水工程</h3>
	</a>
	</li>
		<li class="wmgc even">
	<a href="wmgc" class="">
		<em class="c6"></em>
		<h3>瓦木工程</h3>
	</a>
	</li>
		<li class="yqgc">
	<a href="yqgc" class="">
		<em class="c7"></em>
		<h3>油漆工程</h3>
	</a>
	</li>
		<li class="cpaz even">
	<a href="cpaz" class="">
		<em class="c8"></em>
		<h3>成品安装</h3>
	</a>
	</li>
		<li class="jjrz" id="end">
	<a href="jjrz" class="">
		<em class="c9"></em>
		<h3>家具软装</h3>
	</a>
	</li>
	</ul>

<ul class="ReservaList clearfix">
        <li><div class="shadowBox">
        <a href="1278.html" title="海尔绿城锦兰园工地木工阶段工程部进行巡检" class="imga fl">
            <img src="[$cfg_webimages$]/thumb_6089.jpg" alt="海尔绿城锦兰园工地木工阶段工程部进行巡检">
        </a>
        <div class="txt">
        	<div class="visit fr">
        		<span class="fl"><i class="red">0</i>人已预约参观</span>
        		<a href="reinfo?reserva=1278" class="btn fl">免费预约参观工地</a>
        	</div>
        	<h3>
	        	<a href="1278.html" title="海尔绿城锦兰园工地木工阶段工程部进行巡检" class="tit fn">海尔绿城锦兰园工地木工阶段工程部进行巡检</a>
	        </h3>
	        <div class="info clearfix">
								<em>风格：港式风格</em>				<em>户型：大平层</em>	        	<em>面积：200㎡</em>	        	<em>基础工程造价：15万</em><em>预算：85万</em>	        	<em>经理：董经理</em>        	</div>
        		        <div class="plan">
	        		        	<em style="width:10%;">
	        		<i class="c"></i>
	        		<span>前期工程</span>
	        	</em>
	        		        	<em class="current" style="width:10%;">
	        		<i class="c"></i>
	        		<span class="even">水电阶段</span>
	        	</em>
	        		        	<em style="width:10%;">
	        		<i class="c"></i>
	        		<span>木工阶段</span>
	        	</em>
	        		        	<em style="width:10%;">
	        		<i class="c"></i>
	        		<span class="even">泥工阶段</span>
	        	</em>
	        		        	<em style="width:10%;">
	        		<i class="c"></i>
	        		<span>吊顶阶段</span>
	        	</em>
	        		        	<em style="width:10%;">
	        		<i class="c"></i>
	        		<span class="even">油漆阶段</span>
	        	</em>
	        		        	<em style="width:10%;">
	        		<i class="c"></i>
	        		<span>板门阶段</span>
	        	</em>
	        		        	<em style="width:10%;">
	        		<i class="c"></i>
	        		<span class="even">灯具五金</span>
	        	</em>
	        		        	<em style="width:10%;">
	        		<i class="c"></i>
	        		<span>家具家电</span>
	        	</em>
	        		        	<em style="width:10%;">
	        		<i class="c"></i>
	        		<span class="even">完工</span>
	        	</em>
	        		        </div>
	                </div>
    </div></li>
        <li><div class="shadowBox">
        <a href="1277.html" title="海尔绿城锦兰园工地大平层装修木工阶段" class="imga fl">
            <img src="[$cfg_webimages$]/thumb_6084.jpg" alt="海尔绿城锦兰园工地大平层装修木工阶段">
        </a>
        <div class="txt">
        	<div class="visit fr">
        		<span class="fl"><i class="red">0</i>人已预约参观</span>
        		<a href="reinfo?reserva=1277" class="btn fl">免费预约参观工地</a>
        	</div>
        	<h3>
	        	<a href="1277.html" title="海尔绿城锦兰园工地大平层装修木工阶段" class="tit fn">海尔绿城锦兰园工地大平层装修木工阶段</a>
	        </h3>
	        <div class="info clearfix">
								<em>风格：港式风格</em>				<em>户型：大平层</em>	        	<em>面积：200㎡</em>	        	<em>基础工程造价：15万</em><em>预算：85万</em>	        	<em>经理：董经理</em>        	</div>
        		        <div class="plan">
	        		        	<em style="width:10%;">
	        		<i class="c"></i>
	        		<span>前期工程</span>
	        	</em>
	        		        	<em style="width:10%;">
	        		<i class="c"></i>
	        		<span class="even">水电阶段</span>
	        	</em>
	        		        	<em class="current" style="width:10%;">
	        		<i class="c"></i>
	        		<span>木工阶段</span>
	        	</em>
	        		        	<em style="width:10%;">
	        		<i class="c"></i>
	        		<span class="even">泥工阶段</span>
	        	</em>
	        		        	<em style="width:10%;">
	        		<i class="c"></i>
	        		<span>吊顶阶段</span>
	        	</em>
	        		        	<em style="width:10%;">
	        		<i class="c"></i>
	        		<span class="even">油漆阶段</span>
	        	</em>
	        		        	<em style="width:10%;">
	        		<i class="c"></i>
	        		<span>板门阶段</span>
	        	</em>
	        		        	<em style="width:10%;">
	        		<i class="c"></i>
	        		<span class="even">灯具五金</span>
	        	</em>
	        		        	<em style="width:10%;">
	        		<i class="c"></i>
	        		<span>家具家电</span>
	        	</em>
	        		        	<em style="width:10%;">
	        		<i class="c"></i>
	        		<span class="even">完工</span>
	        	</em>
	        		        </div>
	                </div>
    </div></li>
        <li><div class="shadowBox">
        <a href="1276.html" title="海尔绿城锦兰园装修工地开工准备" class="imga fl">
            <img src="[$cfg_webimages$]/thumb_6081.jpg" alt="海尔绿城锦兰园装修工地开工准备">
        </a>
        <div class="txt">
        	<div class="visit fr">
        		<span class="fl"><i class="red">0</i>人已预约参观</span>
        		<a href="reinfo?reserva=1276" class="btn fl">免费预约参观工地</a>
        	</div>
        	<h3>
	        	<a href="1276.html" title="海尔绿城锦兰园装修工地开工准备" class="tit fn">海尔绿城锦兰园装修工地开工准备</a>
	        </h3>
	        <div class="info clearfix">
												<em>户型：大平层</em>	        	<em>面积：200㎡</em>	        	<em>基础工程造价：15万</em><em>预算：85万</em>	        	<em>经理：董经理</em>        	</div>
        		        <div class="plan">
	        		        	<em class="current" style="width:10%;">
	        		<i class="c"></i>
	        		<span>前期工程</span>
	        	</em>
	        		        	<em style="width:10%;">
	        		<i class="c"></i>
	        		<span class="even">水电阶段</span>
	        	</em>
	        		        	<em style="width:10%;">
	        		<i class="c"></i>
	        		<span>木工阶段</span>
	        	</em>
	        		        	<em style="width:10%;">
	        		<i class="c"></i>
	        		<span class="even">泥工阶段</span>
	        	</em>
	        		        	<em style="width:10%;">
	        		<i class="c"></i>
	        		<span>吊顶阶段</span>
	        	</em>
	        		        	<em style="width:10%;">
	        		<i class="c"></i>
	        		<span class="even">油漆阶段</span>
	        	</em>
	        		        	<em style="width:10%;">
	        		<i class="c"></i>
	        		<span>板门阶段</span>
	        	</em>
	        		        	<em style="width:10%;">
	        		<i class="c"></i>
	        		<span class="even">灯具五金</span>
	        	</em>
	        		        	<em style="width:10%;">
	        		<i class="c"></i>
	        		<span>家具家电</span>
	        	</em>
	        		        	<em style="width:10%;">
	        		<i class="c"></i>
	        		<span class="even">完工</span>
	        	</em>
	        		        </div>
	                </div>
    </div></li>
        <li><div class="shadowBox">
        <a href="1249.html" title="济南华润仰山红叶林中式风格基础装修完工保洁" class="imga fl">
            <img src="[$cfg_webimages$]/thumb_5947.jpg" alt="济南华润仰山红叶林中式风格基础装修完工保洁">
        </a>
        <div class="txt">
        	<div class="visit fr">
        		<span class="fl"><i class="red">0</i>人已预约参观</span>
        		<a href="reinfo?reserva=1249" class="btn fl">免费预约参观工地</a>
        	</div>
        	<h3>
	        	<a href="1249.html" title="济南华润仰山红叶林中式风格基础装修完工保洁" class="tit fn">济南华润仰山红叶林中式风格基础装修完工保洁</a>
	        </h3>
	        <div class="info clearfix">
								<em>风格：中式风格</em>				<em>户型：大平层</em>	        	<em>面积：180㎡</em>	        	<em>基础工程造价：16万</em><em>预算：50万</em>	        	<em>经理：董经理</em>        	</div>
        		        <div class="plan">
	        		        	<em style="width:10%;">
	        		<i class="c"></i>
	        		<span>前期工程</span>
	        	</em>
	        		        	<em style="width:10%;">
	        		<i class="c"></i>
	        		<span class="even">水电阶段</span>
	        	</em>
	        		        	<em style="width:10%;">
	        		<i class="c"></i>
	        		<span>木工阶段</span>
	        	</em>
	        		        	<em style="width:10%;">
	        		<i class="c"></i>
	        		<span class="even">泥工阶段</span>
	        	</em>
	        		        	<em style="width:10%;">
	        		<i class="c"></i>
	        		<span>吊顶阶段</span>
	        	</em>
	        		        	<em style="width:10%;">
	        		<i class="c"></i>
	        		<span class="even">油漆阶段</span>
	        	</em>
	        		        	<em style="width:10%;">
	        		<i class="c"></i>
	        		<span>板门阶段</span>
	        	</em>
	        		        	<em class="current" style="width:10%;">
	        		<i class="c"></i>
	        		<span class="even">灯具五金</span>
	        	</em>
	        		        	<em style="width:10%;">
	        		<i class="c"></i>
	        		<span>家具家电</span>
	        	</em>
	        		        	<em style="width:10%;">
	        		<i class="c"></i>
	        		<span class="even">完工</span>
	        	</em>
	        		        </div>
	                </div>
    </div></li>
        <li><div class="shadowBox">
        <a href="1239.html" title="华润仰山工地别墅装修设备安装完毕吊顶施工" class="imga fl">
            <img src="[$cfg_webimages$]/thumb_5911.jpg" alt="华润仰山工地别墅装修设备安装完毕吊顶施工">
        </a>
        <div class="txt">
        	<div class="visit fr">
        		<span class="fl"><i class="red">0</i>人已预约参观</span>
        		<a href="reinfo?reserva=1239" class="btn fl">免费预约参观工地</a>
        	</div>
        	<h3>
	        	<a href="1239.html" title="华润仰山工地别墅装修设备安装完毕吊顶施工" class="tit fn">华润仰山工地别墅装修设备安装完毕吊顶施工</a>
	        </h3>
	        <div class="info clearfix">
												<em>户型：别墅</em>	        	<em>面积：500㎡</em>	        	<em>预算：400万</em>	        	<em>经理：董经理</em>        	</div>
        		        <div class="plan">
	        		        	<em style="width:10%;">
	        		<i class="c"></i>
	        		<span>前期工程</span>
	        	</em>
	        		        	<em style="width:10%;">
	        		<i class="c"></i>
	        		<span class="even">水电阶段</span>
	        	</em>
	        		        	<em class="current" style="width:10%;">
	        		<i class="c"></i>
	        		<span>木工阶段</span>
	        	</em>
	        		        	<em style="width:10%;">
	        		<i class="c"></i>
	        		<span class="even">泥工阶段</span>
	        	</em>
	        		        	<em style="width:10%;">
	        		<i class="c"></i>
	        		<span>吊顶阶段</span>
	        	</em>
	        		        	<em style="width:10%;">
	        		<i class="c"></i>
	        		<span class="even">油漆阶段</span>
	        	</em>
	        		        	<em style="width:10%;">
	        		<i class="c"></i>
	        		<span>板门阶段</span>
	        	</em>
	        		        	<em style="width:10%;">
	        		<i class="c"></i>
	        		<span class="even">灯具五金</span>
	        	</em>
	        		        	<em style="width:10%;">
	        		<i class="c"></i>
	        		<span>家具家电</span>
	        	</em>
	        		        	<em style="width:10%;">
	        		<i class="c"></i>
	        		<span class="even">完工</span>
	        	</em>
	        		        </div>
	                </div>
    </div></li>
        <li><div class="shadowBox">
        <a href="1238.html" title="华润仰山别墅装修开工进场阶段" class="imga fl">
            <img src="[$cfg_webimages$]/thumb_5908.jpg" alt="华润仰山别墅装修开工进场阶段">
        </a>
        <div class="txt">
        	<div class="visit fr">
        		<span class="fl"><i class="red">0</i>人已预约参观</span>
        		<a href="reinfo?reserva=1238" class="btn fl">免费预约参观工地</a>
        	</div>
        	<h3>
	        	<a href="1238.html" title="华润仰山别墅装修开工进场阶段" class="tit fn">华润仰山别墅装修开工进场阶段</a>
	        </h3>
	        <div class="info clearfix">
								<em>风格：新中式</em>				<em>户型：别墅</em>	        	<em>面积：450㎡</em>	        	<em>预算：210万</em>	        	<em>经理：董经理</em>        	</div>
        		        <div class="plan">
	        		        	<em class="current" style="width:10%;">
	        		<i class="c"></i>
	        		<span>前期工程</span>
	        	</em>
	        		        	<em style="width:10%;">
	        		<i class="c"></i>
	        		<span class="even">水电阶段</span>
	        	</em>
	        		        	<em style="width:10%;">
	        		<i class="c"></i>
	        		<span>木工阶段</span>
	        	</em>
	        		        	<em style="width:10%;">
	        		<i class="c"></i>
	        		<span class="even">泥工阶段</span>
	        	</em>
	        		        	<em style="width:10%;">
	        		<i class="c"></i>
	        		<span>吊顶阶段</span>
	        	</em>
	        		        	<em style="width:10%;">
	        		<i class="c"></i>
	        		<span class="even">油漆阶段</span>
	        	</em>
	        		        	<em style="width:10%;">
	        		<i class="c"></i>
	        		<span>板门阶段</span>
	        	</em>
	        		        	<em style="width:10%;">
	        		<i class="c"></i>
	        		<span class="even">灯具五金</span>
	        	</em>
	        		        	<em style="width:10%;">
	        		<i class="c"></i>
	        		<span>家具家电</span>
	        	</em>
	        		        	<em style="width:10%;">
	        		<i class="c"></i>
	        		<span class="even">完工</span>
	        	</em>
	        		        </div>
	                </div>
    </div></li>
        <li><div class="shadowBox">
        <a href="1234.html" title="恒大帝景花园洋房装修施工" class="imga fl">
            <img src="[$cfg_webimages$]/thumb_5882.jpg" alt="恒大帝景花园洋房装修施工">
        </a>
        <div class="txt">
        	<div class="visit fr">
        		<span class="fl"><i class="red">0</i>人已预约参观</span>
        		<a href="reinfo?reserva=1234" class="btn fl">免费预约参观工地</a>
        	</div>
        	<h3>
	        	<a href="1234.html" title="恒大帝景花园洋房装修施工" class="tit fn">恒大帝景花园洋房装修施工</a>
	        </h3>
	        <div class="info clearfix">
								<em>风格：简约欧式</em>				<em>户型：大平层</em>	        	<em>面积：200㎡</em>	        	<em>预算：13万</em>	        	<em>经理：董经理</em>        	</div>
        		        <div class="plan">
	        		        	<em class="current" style="width:10%;">
	        		<i class="c"></i>
	        		<span>前期工程</span>
	        	</em>
	        		        	<em style="width:10%;">
	        		<i class="c"></i>
	        		<span class="even">水电阶段</span>
	        	</em>
	        		        	<em style="width:10%;">
	        		<i class="c"></i>
	        		<span>木工阶段</span>
	        	</em>
	        		        	<em style="width:10%;">
	        		<i class="c"></i>
	        		<span class="even">泥工阶段</span>
	        	</em>
	        		        	<em style="width:10%;">
	        		<i class="c"></i>
	        		<span>吊顶阶段</span>
	        	</em>
	        		        	<em style="width:10%;">
	        		<i class="c"></i>
	        		<span class="even">油漆阶段</span>
	        	</em>
	        		        	<em style="width:10%;">
	        		<i class="c"></i>
	        		<span>板门阶段</span>
	        	</em>
	        		        	<em style="width:10%;">
	        		<i class="c"></i>
	        		<span class="even">灯具五金</span>
	        	</em>
	        		        	<em style="width:10%;">
	        		<i class="c"></i>
	        		<span>家具家电</span>
	        	</em>
	        		        	<em style="width:10%;">
	        		<i class="c"></i>
	        		<span class="even">完工</span>
	        	</em>
	        		        </div>
	                </div>
    </div></li>
        <li><div class="shadowBox">
        <a href="1232.html" title="济南别墅装修-漫山香墅别墅装修完工软装进场" class="imga fl">
            <img src="[$cfg_webimages$]/thumb_5859.jpg" alt="济南别墅装修-漫山香墅别墅装修完工软装进场">
        </a>
        <div class="txt">
        	<div class="visit fr">
        		<span class="fl"><i class="red">0</i>人已预约参观</span>
        		<a href="reinfo?reserva=1232" class="btn fl">免费预约参观工地</a>
        	</div>
        	<h3>
	        	<a href="1232.html" title="济南别墅装修-漫山香墅别墅装修完工软装进场" class="tit fn">济南别墅装修-漫山香墅别墅装修完工软装进场</a>
	        </h3>
	        <div class="info clearfix">
								<em>风格：欧式古典</em>				<em>户型：别墅</em>	        	<em>面积：420㎡</em>	        	<em>预算：160万</em>	        	<em>经理：董经理</em>        	</div>
        		        <div class="plan">
	        		        	<em style="width:10%;">
	        		<i class="c"></i>
	        		<span>前期工程</span>
	        	</em>
	        		        	<em style="width:10%;">
	        		<i class="c"></i>
	        		<span class="even">水电阶段</span>
	        	</em>
	        		        	<em style="width:10%;">
	        		<i class="c"></i>
	        		<span>木工阶段</span>
	        	</em>
	        		        	<em style="width:10%;">
	        		<i class="c"></i>
	        		<span class="even">泥工阶段</span>
	        	</em>
	        		        	<em style="width:10%;">
	        		<i class="c"></i>
	        		<span>吊顶阶段</span>
	        	</em>
	        		        	<em style="width:10%;">
	        		<i class="c"></i>
	        		<span class="even">油漆阶段</span>
	        	</em>
	        		        	<em style="width:10%;">
	        		<i class="c"></i>
	        		<span>板门阶段</span>
	        	</em>
	        		        	<em style="width:10%;">
	        		<i class="c"></i>
	        		<span class="even">灯具五金</span>
	        	</em>
	        		        	<em class="current" style="width:10%;">
	        		<i class="c"></i>
	        		<span>家具家电</span>
	        	</em>
	        		        	<em style="width:10%;">
	        		<i class="c"></i>
	        		<span class="even">完工</span>
	        	</em>
	        		        </div>
	                </div>
    </div></li>
        <li><div class="shadowBox">
        <a href="1175.html" title="济南别墅装修-名士豪庭370㎡港式风格设计" class="imga fl">
            <img src="[$cfg_webimages$]/thumb_5618.jpg" alt="济南别墅装修-名士豪庭370㎡港式风格设计">
        </a>
        <div class="txt">
        	<div class="visit fr">
        		<span class="fl"><i class="red">0</i>人已预约参观</span>
        		<a href="reinfo?reserva=1175" class="btn fl">免费预约参观工地</a>
        	</div>
        	<h3>
	        	<a href="1175.html" title="济南别墅装修-名士豪庭370㎡港式风格设计" class="tit fn">济南别墅装修-名士豪庭370㎡港式风格设计</a>
	        </h3>
	        <div class="info clearfix">
								<em>风格：港式风格</em>				<em>户型：别墅</em>	        	<em>面积：370㎡</em>	        	<em>预算：34万</em>	        	<em>经理：董经理</em>        	</div>
        		        <div class="plan">
	        		        	<em style="width:10%;">
	        		<i class="c"></i>
	        		<span>前期工程</span>
	        	</em>
	        		        	<em style="width:10%;">
	        		<i class="c"></i>
	        		<span class="even">水电阶段</span>
	        	</em>
	        		        	<em style="width:10%;">
	        		<i class="c"></i>
	        		<span>木工阶段</span>
	        	</em>
	        		        	<em style="width:10%;">
	        		<i class="c"></i>
	        		<span class="even">泥工阶段</span>
	        	</em>
	        		        	<em style="width:10%;">
	        		<i class="c"></i>
	        		<span>吊顶阶段</span>
	        	</em>
	        		        	<em style="width:10%;">
	        		<i class="c"></i>
	        		<span class="even">油漆阶段</span>
	        	</em>
	        		        	<em style="width:10%;">
	        		<i class="c"></i>
	        		<span>板门阶段</span>
	        	</em>
	        		        	<em style="width:10%;">
	        		<i class="c"></i>
	        		<span class="even">灯具五金</span>
	        	</em>
	        		        	<em style="width:10%;">
	        		<i class="c"></i>
	        		<span>家具家电</span>
	        	</em>
	        		        	<em class="current" style="width:10%;">
	        		<i class="c"></i>
	        		<span class="even">完工</span>
	        	</em>
	        		        </div>
	                </div>
    </div></li>
        <li><div class="shadowBox">
        <a href="1174.html" title="济南别墅装修-中海铂宫320㎡欧式风格装修设计" class="imga fl">
            <img src="[$cfg_webimages$]/thumb_5617.jpg" alt="济南别墅装修-中海铂宫320㎡欧式风格装修设计">
        </a>
        <div class="txt">
        	<div class="visit fr">
        		<span class="fl"><i class="red">0</i>人已预约参观</span>
        		<a href="reinfo?reserva=1174" class="btn fl">免费预约参观工地</a>
        	</div>
        	<h3>
	        	<a href="1174.html" title="济南别墅装修-中海铂宫320㎡欧式风格装修设计" class="tit fn">济南别墅装修-中海铂宫320㎡欧式风格装修设计</a>
	        </h3>
	        <div class="info clearfix">
								<em>风格：欧式古典</em>				<em>户型：别墅</em>	        	<em>面积：320㎡</em>	        	<em>预算：35万</em>	        	<em>经理：董经理</em>        	</div>
        		        <div class="plan">
	        		        	<em style="width:10%;">
	        		<i class="c"></i>
	        		<span>前期工程</span>
	        	</em>
	        		        	<em style="width:10%;">
	        		<i class="c"></i>
	        		<span class="even">水电阶段</span>
	        	</em>
	        		        	<em style="width:10%;">
	        		<i class="c"></i>
	        		<span>木工阶段</span>
	        	</em>
	        		        	<em style="width:10%;">
	        		<i class="c"></i>
	        		<span class="even">泥工阶段</span>
	        	</em>
	        		        	<em style="width:10%;">
	        		<i class="c"></i>
	        		<span>吊顶阶段</span>
	        	</em>
	        		        	<em style="width:10%;">
	        		<i class="c"></i>
	        		<span class="even">油漆阶段</span>
	        	</em>
	        		        	<em class="current" style="width:10%;">
	        		<i class="c"></i>
	        		<span>板门阶段</span>
	        	</em>
	        		        	<em style="width:10%;">
	        		<i class="c"></i>
	        		<span class="even">灯具五金</span>
	        	</em>
	        		        	<em style="width:10%;">
	        		<i class="c"></i>
	        		<span>家具家电</span>
	        	</em>
	        		        	<em style="width:10%;">
	        		<i class="c"></i>
	        		<span class="even">完工</span>
	        	</em>
	        		        </div>
	                </div>
    </div></li>
    </ul>
<div class="clearfix"></div>
<div class="pagelist"><ul class="inline">
<li><span class="disabled btn prev"><i>上一页</i></span></li><li><span class="disabled current"><i>1</i></span></li><li><a class="" href="reserva_2"><i>2</i></a></li><li><a class="" href="reserva_3"><i>3</i></a></li><li><a class="" href="reserva_4"><i>4</i></a></li><li><a class="" href="reserva_5"><i>5</i></a></li><li><a class="" href="reserva_6"><i>6</i></a></li><li><a class="btn next" href="reserva_2"><i>下一页</i></a></li></ul></div>

</div>
<div class="Wrap Footer">
    <div class="Column">
    	<img src="[$cfg_webimages$]/底部承诺.png" class="imga" />
    	<div class="hr20"></div>
    	<div class="weixin fr tc">
            <img src="[$cfg_webimages$]/c8095430d1f269d9.gif" />
            <p>扫描二维码</p>
        </div>
        <div class="copy fl">
            <p>山东省济南市市中区旅游路国华东方美郡408-2</p>
            <p>香港观唐版权所有ICP备鲁14001012号-3</p>
            <p>
            <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=37010302000110"><img src="[$cfg_webimages$]/beian.png" style="float:left;"/>鲁公网安备 37010302000110号</a>
            </p>
            <p>香港观唐隶属于济南观唐装饰设计有限公司</p>
    	</div>
    </div>
</div>
<div class="SideFloat" id="sideFloat">
	<ul>
		<li><a href="indent" class="order"><i></i>在线预约</a></li>
    			<li><a href="http://wpa.qq.com/msgrd?v=3&amp;uin=1410735922&menu=yes" title="家居顾问一" target="_blank" class="qq first"><i></i>家居顾问一</a></li>
				<li><a href="http://wpa.qq.com/msgrd?v=3&amp;uin=2774995775&menu=yes" title="家居顾问二" target="_blank" class="qq"><i></i>家居顾问二</a></li>
		    	<li><a href="javascript:void(0);" class="weixin"><i></i>微信二微码<div class="img"><img src="[$cfg_webimages$]/c8095430d1f269d9.gif" /></div></a></li>    	<li><a href="javascript:void(0);" class="weixin"><i></i>访问手机站<div class="img"><img src="[$cfg_webimages$]/53d59bd59035557a.png" /></div></a></li>		<li><a href="javascript:void(0);" class="phone"><i></i>贵宾热线 <span class="red">4008576660</span></a></li>    </ul>
    <div class="bt">
    	<a href="javascript:void(0);" id="sidebackTop" class="back"><i></i></a>
    </div>
</div><script type="text/javascript">
    document.body.oncopy = function () {
        alert("受保护的内容，暂不可复制！");
        return false;
    }
</script>
<span id="cnzz"><script src="http://pw.cnzz.com/c.php?id=1200004170&l=2" language="JavaScript" charset="gb2312"></script></span><div style="display:none;">
<script type="text/javascript"> var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://"); document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F5d24f4142b95d2b176aaf631370e2d07' type='text/javascript'%3E%3C/script%3E")) </script>



 <script type="text/javascript">
var _mvq = _mvq || [];
_mvq.push(['$setAccount', 'm-130766-0']);
_mvq.push(['$logConversion']);
(function() {
    var mvl = document.createElement('script');
    mvl.type = 'text/javascript'; mvl.async = true;
    mvl.src = ('https:' == document.location.protocol ? 'https://static-ssl.mediav.com/mvl.js' : 'http://static.mediav.com/mvl.js');
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(mvl, s); 
})();
</script>    

<a href="http://webscan.360.cn/index/checkwebsite/url/hkgtsj.com"><img border="0" src="http://img.webscan.360.cn/status/pai/hash/926eef4e10c05e9feed3bc1a488724d4/?size=74x27"/></a>

</div></body>
</html>