<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv='Content-Type' content="text/html; charset=gb2312" /><meta name='description' content="{$Web_Description$}" /><meta name='keywords' content="{$Web_KeyWords$}" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$Web_Title$}</title>


<link rel="stylesheet" type="text/css" href="[$cfg_webcss$]/jquery.fullPage.css" />
<link rel="stylesheet" type="text/css" href="[$cfg_webcss$]/style_d65f11d8.css" />
<!--[if lt IE 9]>
<script src="[$cfg_webjs$]/respond.min.js"></script>
<![endif]-->
<script type="text/javascript" src="[$cfg_webjs$]/jquery.1.7.2.js""></script>
<script src="[$cfg_webjs$]/jquery-ui.min.js""></script>
<script src="[$cfg_webjs$]/jquery.fullPage.min.js"></script>
<script type="text/javascript" src="[$cfg_webjs$]/jquery.SuperSlide.js""></script>
<script src="[$cfg_webjs$]/js.js"></script>
<!--<script type="text/javascript" src="[$cfg_webjs$]/cssrefresh.js"></script>-->
</head>
<body>
<div id="fullpage">


<!--//全案定制服务  开始-->
<div class="section section1" id="section1">
	<div class="Column ztModule">
		<ul class="inline">
			<li>
				<a href="#secondPage" class="imga">
					<div class="img"><img src="[$cfg_webimages$]/1_01.jpg" /></div>
					<div class="bg"></div>
					<div class="txt">
						<h3>全案定制</h3>
						<p>CASE CUSTOMIZATION</p>
					</div>
				</a>
			</li>
			<li>
				<a href="#8thpage" class="imga">
					<div class="img"><img src="[$cfg_webimages$]/1_02.jpg" /></div>
					<div class="bg"></div>
					<div class="txt">
						<h3>热装楼盘</h3>
						<p>WELL-KNOWN VILLAS</p>
					</div>
				</a>
			</li>
			<li>
				<a href="#lastPage" class="imga">
					<div class="img"><img src="[$cfg_webimages$]/1_03.jpg" /></div>
					<div class="bg"></div>
					<div class="txt">
						<h3>公司活动</h3>
						<p>PRIVATE CASE CUSTOM</p>
					</div>
				</a>
			</li>
			<li>
				<a href="indent" class="imga" target="_blank">
					<div class="img"><img src="[$cfg_webimages$]/1_04.jpg" /></div>
					<div class="bg"></div>
					<div class="txt">
						<h3>在线报名</h3>
						<p>ONLINE REGISTRATION</p>
					</div>
				</a>
			</li>
		</ul>
	</div>
	<a href="#secondPage" class="review-btn"><i></i></a>
</div>


<!--//全案定制  开始-->
<div class="section section2" id="section2">
	<div class="Column">
		<div class="imgTt posa"><img src="[$cfg_webimages$]/2_tt.png" /></div>
		<div class="img01 posr tr">
			<img src="[$cfg_webimages$]/2_01.png" />
		</div>
		<div class="img02 posr tc"><img src="[$cfg_webimages$]/2_02.png" /></div>
	</div>
	<a href="#3rdPage" class="review-btn"><i></i></a>
</div>


<!--//主案设计师  开始-->
<div class="section section3" id="section3">
	<div class="Column">
		<h2 class="sectionH2">主案设计师</h2>
		<div class="img01 tc"><img src="[$cfg_webimages$]/3_01.png" /></div>
	</div>
	<div class="txt posa opac8w">
		<h3>8 位最热门的顶尖设计师  优中选优</h3>
		<p>优选别墅大宅最热门的顶尖设计师，有着10年以上的名盘操作设计经验，对您所在的楼盘全户型全方位深度解析，每个楼盘至少10套户型方案，这一次，他们只为您设计舒适家。</p>
	</div>
	<a href="#4thpage" class="review-btn"><i></i></a>
</div>


<!--//技术设计师  开始-->
<div class="section section4" id="section4">
	<div class="Column">
		<h2 class="sectionH2">技术设计师</h2>
		<div class="img01 tr"><img src="[$cfg_webimages$]/4_00.png" /></div>
		<div class="Slide4" id="Slide4">
			<div class="posr opac8w">
				<div class="bd">
					<ul>
																		<li><img src="[$cfg_webimages$]/5d9663f023d6ef57.jpg" alt="国华东方美郡" /><p>国华东方美郡</p></li>
												<li><img src="[$cfg_webimages$]/b1eb780754afd1a8.jpg" alt="莱芜怡和缘" /><p>莱芜怡和缘</p></li>
																	</ul>
				</div>
				<a href="javascript:void(0)" class="btn prev"><i>&lt;</i></a>
				<a href="javascript:void(0)" class="btn next"><i>&gt;</i></a>
			</div>
		</div>
	</div>
	<a href="#5thpage" class="review-btn"><i></i></a>
</div>


<!--//表现设计师  开始-->
<div class="section section5" id="section5">
	<div class="Column">
		<h2 class="sectionH2">表现设计师</h2>
		<div class="img01 tr"><img src="[$cfg_webimages$]/5_00.png" /></div>
	</div>
	<div class="Slide5" id="Slide5">
		<div class="posr bg">
			<div class="bd">
				<ul>
															<li><img src="[$cfg_webimages$]/7ca55e6024ad2ed2.jpg" alt="法式别墅设计生活" /></li>
										<li><img src="[$cfg_webimages$]/d8794a7d8f06ac1e.jpg" alt="别墅设计简欧" /></li>
										<li><img src="[$cfg_webimages$]/03faf315c33138f8.jpg" alt="别墅设计简欧" /></li>
										<li><img src="[$cfg_webimages$]/e7a82c5638852042.jpg" alt="奢华别墅大宅效果图" /></li>
										<li><img src="[$cfg_webimages$]/1610f6ac25d841aa.jpg" alt="奢华别墅大宅效果图" /></li>
										<li><img src="[$cfg_webimages$]/c6fd25c6d397075c.jpg" alt="奢华别墅大宅效果图" /></li>
										<li><img src="[$cfg_webimages$]/2e78065c4b57bed4.jpg" alt="奢华别墅大宅效果图" /></li>
														</ul>
			</div>
			<a href="javascript:void(0)" class="btn prev"><i class="opac8w">&lt;</i></a>
			<a href="javascript:void(0)" class="btn next"><i class="opac8w">&gt;</i></a>
		</div>
	</div>
	<a href="#6thpage" class="review-btn"><i></i></a>
</div>


<!--//产品设计师  开始-->
<div class="section section6" id="section6">
	<div class="Column">
		<h2 class="sectionH2">产品设计师</h2>
		<div class="img01 tr"><img src="[$cfg_webimages$]/6_00.png" /></div>
				<div class="Slide6" id="Slide6">
			<div class="hd">
								<li class="c1"><a href="javascript:void(0)">外墙改动</a></li>
								<li class="c2"><a href="javascript:void(0)">游泳池</a></li>
								<li class="c3"><a href="javascript:void(0)">瓷砖</a></li>
								<li class="c4"><a href="javascript:void(0)">土建改造</a></li>
								<li class="c5"><a href="javascript:void(0)">景观园林</a></li>
								<li class="c6"><a href="javascript:void(0)">地板</a></li>
								<li class="c7"><a href="javascript:void(0)">智能家居</a></li>
								<li class="c8"><a href="javascript:void(0)">地暖</a></li>
							</div>
			<div class="bd">
				<ul>
										<li><img src="[$cfg_webimages$]/8063dbb8104f33fb.jpg" alt="外墙改动" /></li>
										<li><img src="[$cfg_webimages$]/ceed65c18af6c00a.jpg" alt="游泳池" /></li>
										<li><img src="[$cfg_webimages$]/09710ab9a3885675.jpg" alt="瓷砖" /></li>
										<li><img src="[$cfg_webimages$]/67e0e10988553c41.jpg" alt="土建改造" /></li>
										<li><img src="[$cfg_webimages$]/0f36f602f14a4a66.jpg" alt="景观园林" /></li>
										<li><img src="[$cfg_webimages$]/4f4b37fa0f849e6d.jpg" alt="地板" /></li>
										<li><img src="[$cfg_webimages$]/4ad5e861334cd061.png" alt="智能家居" /></li>
										<li><img src="[$cfg_webimages$]/2b78ccd89fb97bd2.jpg" alt="地暖" /></li>
									</ul>
			</div>
		</div>
			</div>
	<a href="#7thpage" class="review-btn"><i></i></a>
</div>
	
	
<!--//软装设计师  开始-->
<div class="section section7" id="section7">
	<div class="Column">
		<h2 class="sectionH2">软装设计师</h2>
		<div class="img01 tr"><img src="[$cfg_webimages$]/7_00.png" /></div>
		<div class="Slide7" id="Slide7">
			<div class="posr">
				<div class="bd">
					<ul>
																		<li><img src="[$cfg_webimages$]/bd234058f9a9a900.jpg" alt="海尔御园" /></li>
												<li><img src="[$cfg_webimages$]/667b2ef5663b29da.jpg" alt="原山九号" /></li>
												<li><img src="[$cfg_webimages$]/80a3fe4fecae0e16.jpg" alt="中海铂宫" /></li>
												<li><img src="[$cfg_webimages$]/fac854046a00d114.jpg" alt="华润阳山" /></li>
																	</ul>
				</div>
				<a href="javascript:void(0)" class="btn prev"><i>&lt;</i></a>
				<a href="javascript:void(0)" class="btn next"><i>&gt;</i></a>
			</div>
		</div>
	</div>
	<a href="#8thpage" class="review-btn"><i></i></a>
</div>


<!--//热装楼盘  开始-->
<div class="section section8" id="section8">
	<div class="Column">
		<div class="imgTt posa"><img src="[$cfg_webimages$]/8_tt.png" /></div>
		<div class="Slide8" id="Slide8">
			<div class="hd">
								<a href="javascript:void(0)">奥龙观邸</a>
								<i>&nbsp;|&nbsp; </i><a href="javascript:void(0)">临沂样板间</a>
								<i>&nbsp;|&nbsp; </i><a href="javascript:void(0)">中海铂宫</a>
							</div>
			<div class="bd">
				<ul>
										<li>
						<div class="lImg fl">
							<div class="imgBd">
																<div class="item"><img src="[$cfg_webimages$]/house_1_1.jpg" alt="客厅"></div>
																<div class="item"><img src="[$cfg_webimages$]/house_1_2.jpg" alt="餐厅"></div>
																<div class="item"><img src="[$cfg_webimages$]/house_1_3.jpg" alt="会客室"></div>
															</div>
							<div class="imgHd">
																<a href="javascript:void(0)">客厅</a>
																<a href="javascript:void(0)">餐厅</a>
																<a href="javascript:void(0)">会客室</a>
															</div>
							<a href="javascript:void(0)" class="btn sprev">&lt;</a>
							<a href="javascript:void(0)" class="btn snext">&gt;</a>
						</div>
						<div class="rTxt fl">
							<div class="info">
								<h3>奥龙观邸港式风格别墅装修</h3>
								<div class="img"><img src="[$cfg_webimages$]/house_1.jpg" alt="奥龙观邸港式风格别墅装修"></div>
								<div class="base clearfix">
									<p class="l">【本案设计】&nbsp;郝雪飞</p>
									<p>【设计风格】&nbsp;港式风格</p>
									<p class="l">【室内面积】&nbsp;200㎡</p>
									<p>【主营造价】&nbsp;20万元</p>
								</div>
							</div>
							<div class="num clearfix">
								<em>已预约<span>78</span></em>
								<em>已设计<span>29</span></em>
								<em class="last">已施工<span>26</span></em>
							</div>
							<a href="indent" class="order" target="_blank">我要预约</a>
						</div>
					</li>
										<li>
						<div class="lImg fl">
							<div class="imgBd">
																<div class="item"><img src="[$cfg_webimages$]/house_2_1.jpg" alt="客厅"></div>
																<div class="item"><img src="[$cfg_webimages$]/house_2_2.jpg" alt="露台"></div>
																<div class="item"><img src="[$cfg_webimages$]/house_2_3.jpg" alt="卧室"></div>
															</div>
							<div class="imgHd">
																<a href="javascript:void(0)">客厅</a>
																<a href="javascript:void(0)">露台</a>
																<a href="javascript:void(0)">卧室</a>
															</div>
							<a href="javascript:void(0)" class="btn sprev">&lt;</a>
							<a href="javascript:void(0)" class="btn snext">&gt;</a>
						</div>
						<div class="rTxt fl">
							<div class="info">
								<h3>临沂样板间托斯卡纳风格别墅装修</h3>
								<div class="img"><img src="[$cfg_webimages$]/house_2.jpg" alt="临沂样板间托斯卡纳风格别墅装修"></div>
								<div class="base clearfix">
									<p class="l">【本案设计】&nbsp;</p>
									<p>【设计风格】&nbsp;托斯卡纳风格</p>
									<p class="l">【室内面积】&nbsp;400㎡</p>
									<p>【主营造价】&nbsp;160万元</p>
								</div>
							</div>
							<div class="num clearfix">
								<em>已预约<span>52</span></em>
								<em>已设计<span>32</span></em>
								<em class="last">已施工<span>16</span></em>
							</div>
							<a href="indent" class="order" target="_blank">我要预约</a>
						</div>
					</li>
										<li>
						<div class="lImg fl">
							<div class="imgBd">
																<div class="item"><img src="[$cfg_webimages$]/house_3_1.jpg" alt="客厅"></div>
																<div class="item"><img src="[$cfg_webimages$]/house_3_2.jpg" alt="餐厅"></div>
																<div class="item"><img src="[$cfg_webimages$]/house_3_3.jpg" alt="卧室"></div>
															</div>
							<div class="imgHd">
																<a href="javascript:void(0)">客厅</a>
																<a href="javascript:void(0)">餐厅</a>
																<a href="javascript:void(0)">卧室</a>
															</div>
							<a href="javascript:void(0)" class="btn sprev">&lt;</a>
							<a href="javascript:void(0)" class="btn snext">&gt;</a>
						</div>
						<div class="rTxt fl">
							<div class="info">
								<h3>中海铂宫欧式风格别墅装修</h3>
								<div class="img"><img src="[$cfg_webimages$]/house_3.jpg" alt="中海铂宫欧式风格别墅装修"></div>
								<div class="base clearfix">
									<p class="l">【本案设计】&nbsp;</p>
									<p>【设计风格】&nbsp;欧式风格</p>
									<p class="l">【室内面积】&nbsp;320㎡</p>
									<p>【主营造价】&nbsp;36万元</p>
								</div>
							</div>
							<div class="num clearfix">
								<em>已预约<span>66</span></em>
								<em>已设计<span>35</span></em>
								<em class="last">已施工<span>26</span></em>
							</div>
							<a href="indent" class="order" target="_blank">我要预约</a>
						</div>
					</li>
									</ul>
			</div>
		</div>
	</div>
	<a href="#lastPage" class="review-btn"><i></i></a>
</div>


<!--//公司活动  开始-->
<div class="section section9" id="section9">
	<div class="Column">
		<div class="imgTt posa"><img src="[$cfg_webimages$]/9_tt.png" /></div>
		<div class="ct">
			<div class="item posr">
				<img src="[$cfg_webimages$]/9_00.png" />
				<a href="indent" class="btn l" title="我要报名" target="_blank">我要报名</a>
				<a href="indent" class="btn r" title="我要报名" target="_blank">我要报名</a>
			</div>
		</div>
	</div>
	<a href="#firstPage" class="review-btn"><i></i></a>
</div>


</div>

<div class="SideFloat" id="sideFloat">
	<ul>
		<li><a href="indent" class="order"><i></i>在线预约</a></li>
    			<li><a href="http://wpa.qq.com/msgrd?v=3&amp;uin=1410735922&menu=yes" title="家居顾问一" target="_blank" class="qq first"><i></i>家居顾问一</a></li>
				<li><a href="http://wpa.qq.com/msgrd?v=3&amp;uin=2774995775&menu=yes" title="家居顾问二" target="_blank" class="qq"><i></i>家居顾问二</a></li>
		    	<li><a href="javascript:void(0);" class="weixin"><i></i>微信二微码<div class="img"><img src="[$cfg_webimages$]/c8095430d1f269d9.gif" /></div></a></li>    	<li><a href="javascript:void(0);" class="weixin"><i></i>访问手机站<div class="img"><img src="[$cfg_webimages$]/53d59bd59035557a.png" /></div></a></li>		<li><a href="javascript:void(0);" class="phone"><i></i>贵宾热线 <span class="red">4008576660</span></a></li>		<li><a href="" class="home"><i></i>返回首页</a></li>
    </ul>
    <!--div class="bt">
    	<a href="javascript:void(0);" id="sidebackTop" class="back"><i></i></a>
    </div-->
</div>
<span id="cnzz"><script src="http://pw.cnzz.com/c.php?id=1200004170&l=2" language="JavaScript" charset="gb2312"></script></span>
</body>
</html>