<!DOCTYPE html>
<html>
<head><meta http-equiv='Content-Type' content="text/html; charset=gb2312" /><meta name='description' content="{$Web_Description$}" /><meta name='keywords' content="{$Web_KeyWords$}" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$Web_Title$}</title>


<base href="" />
<script type="text/javascript">var base_file = base_url= "";</script>
<link rel="stylesheet" type="text/css" href="[$cfg_webcss$]/style.css" />
<script type="text/javascript" src="[$cfg_webjs$]/jquery.js""></script>
<script src="[$cfg_webjs$]/jquery.placeholder.js""></script>
<script src="[$cfg_webjs$]/jquery.public.js""></script>
<script src="[$cfg_webjs$]/global.js""></script>
<script src="www.js"></script>
<meta name="sogou_site_verification" content="j7OyTK5gah"/>
<meta name="360-site-verification" content="dfb8deab9d1c034b3d3996d77bb494f6" /></head>
<body>
<div class="Wrap Header">
    <i class="lbg posa"></i>
    <div class="Column posr">
        <a href="" class="logo fl">
            <img src="[$cfg_webimages$]/e3e814c055d27025.png" alt="香港观唐别墅设计" />
        </a>
        <div class="Nav fl" id="Nav">
            <ul class="clearfix">
                                                                <li>
                    <a href="cases" title="别墅精装" class="par">
                        <i class="c1">1</i><em>别墅精装</em><cite>CASES</cite>
                    </a>
                    					<ol>
                                            <li>
                            <a href="cases1" title="别墅精装" class="son">别墅大宅</a>
                        </li>
                                            <li>
                            <a href="cases2" title="别墅精装" class="son">平层复式</a>
                        </li>
                                            <li>
                            <a href="cases4" title="别墅精装" class="son">样板间</a>
                        </li>
                                            <li>
                            <a href="cases3" title="别墅精装" class="son">酒店会所</a>
                        </li>
                                            <li>
                            <a href="video" title="别墅精装" class="son">设计视频</a>
                        </li>
                    					</ol>
                                    </li>
                                                <li class="current">
                    <a href="team" title="设计团队" class="par">
                        <i class="c2">2</i><em>设计团队</em><cite>TEAMS</cite>
                    </a>
                    					<ol>
                                            <li class="current">
                            <a href="team" title="设计团队" class="son">设计师</a>
                        </li>
                    					</ol>
                                    </li>
                                                <li>
                    <a href="custom.html" target="_blank" title="全案定制" class="par">
                        <i class="c3">3</i><em>全案定制</em><cite>CUSTOM</cite>
                    </a>
                                    </li>
                                                <li>
                    <a href="reserva" title="最新工地" class="par">
                        <i class="c4">4</i><em>最新工地</em><cite>BUILDING</cite>
                    </a>
                    					<ol>
                                            <li>
                            <a href="house" title="最新工地" class="son">热装楼盘</a>
                        </li>
                                            <li>
                            <a href="reserva" title="最新工地" class="son">最新工地</a>
                        </li>
                                            <li>
                            <a href="spec" title="最新工地" class="son">最新活动</a>
                        </li>
                                            <li>
                            <a href="indent" title="最新工地" class="son">在线报名</a>
                        </li>
                                            <li>
                            <a href="book" title="最新工地" class="son">在线咨询</a>
                        </li>
                    					</ol>
                                    </li>
                                                <li>
                    <a href="process" title="别墅施工" class="par">
                        <i class="c5">5</i><em>别墅施工</em><cite>PROJECT</cite>
                    </a>
                    					<ol>
                                            <li>
                            <a href="oscars.html" title="别墅施工" class="son">奥斯卡施工</a>
                        </li>
                                            <li>
                            <a href="osc-sggl.html" title="别墅施工" class="son">施工管理</a>
                        </li>
                                            <li>
                            <a href="osc-zxlc.html" title="别墅施工" class="son">装修流程</a>
                        </li>
                                            <li>
                            <a href="osc-gdsg.html" title="别墅施工" class="son">工地施工</a>
                        </li>
                                            <li>
                            <a href="osc-dtgy.html" title="别墅施工" class="son">首创工艺</a>
                        </li>
                                            <li>
                            <a href="osc-fccl.html" title="别墅施工" class="son">辅材材料</a>
                        </li>
                    					</ol>
                                    </li>
                                                <li>
                    <a href="news" title="装修百科" class="par">
                        <i class="c6">6</i><em>装修百科</em><cite>NEWS</cite>
                    </a>
                    					<ol>
                                            <li>
                            <a href="news1" title="装修百科" class="son">别墅空间</a>
                        </li>
                                            <li>
                            <a href="news2" title="装修百科" class="son">设计风水</a>
                        </li>
                                            <li>
                            <a href="news3" title="装修百科" class="son">建材挑选</a>
                        </li>
                    					</ol>
                                    </li>
                                                <li>
                    <a href="about" title="品质服务" class="par">
                        <i class="c7">7</i><em>品质服务</em><cite>SERVICE</cite>
                    </a>
                    					<ol>
                                            <li>
                            <a href="about.html" title="品质服务" class="son">企业简介</a>
                        </li>
                                            <li>
                            <a href="news4" title="品质服务" class="son">公司动态</a>
                        </li>
                                            <li>
                            <a href="think" title="品质服务" class="son">客户评价</a>
                        </li>
                                            <li>
                            <a href="honour.html" title="品质服务" class="son">公司荣誉</a>
                        </li>
                                            <li>
                            <a href="job" title="品质服务" class="son">人才招聘</a>
                        </li>
                                            <li>
                            <a href="contact.html" title="品质服务" class="son">联系我们</a>
                        </li>
                    					</ol>
                                    </li>
                                            </ul>
        </div>
    </div>
</div><div class="Wrap moduleTop">
<div class="Column">
	<h2 class="tt">
    	<em>设计团队</em>&nbsp;<span>DESIGNER TEAMS</span>
    </h2>
    <div class="leader fr"><a href="">首页</a><span class="fsti">&gt;</span>设计团队</div>
    	<ul class="cate">
									    <li><a href="team" class="current">设计师</a></li>
	    	</ul>
	</div>
</div>

				<div class="Wrap moduleImg" style="background-image: url([$cfg_webimages$]/f6b850e9c93ae74d_6e0b2704.jpg);"></div>
<div class="hr25"></div>
<div class="Column">

<ul class="TeamList clearfix">
        <li class="bgf8">
        <a href="27.html" title="郝雪飞" class="imga">
            <img src="[$cfg_webimages$]/photo_3352.jpg" alt="郝雪飞">
        </a>
        <h3>
        	<span class="pos fr">设计总监</span>
        	<a href="27.html" title="郝雪飞" class="name">郝雪飞</a>
        </h3>
    </li>
        <li class="bgf8">
        <a href="29.html" title="迟连友" class="imga">
            <img src="[$cfg_webimages$]/photo_4542.jpg" alt="迟连友">
        </a>
        <h3>
        	<span class="pos fr">首席设计师</span>
        	<a href="29.html" title="迟连友" class="name">迟连友</a>
        </h3>
    </li>
        <li class="bgf8">
        <a href="26.html" title="马捷" class="imga">
            <img src="[$cfg_webimages$]/photo_3353.jpg" alt="马捷">
        </a>
        <h3>
        	<span class="pos fr">主案设计师</span>
        	<a href="26.html" title="马捷" class="name">马捷</a>
        </h3>
    </li>
        <li class="bgf8" id="end">
        <a href="25.html" title="聂菁" class="imga">
            <img src="[$cfg_webimages$]/photo_5661.jpg" alt="聂菁">
        </a>
        <h3>
        	<span class="pos fr">主案设计师</span>
        	<a href="25.html" title="聂菁" class="name">聂菁</a>
        </h3>
    </li>
        <li class="bgf8">
        <a href="425.html" title="赵庆华" class="imga">
            <img src="[$cfg_webimages$]/photo_3175.jpg" alt="赵庆华">
        </a>
        <h3>
        	<span class="pos fr">主案设计师</span>
        	<a href="425.html" title="赵庆华" class="name">赵庆华</a>
        </h3>
    </li>
        <li class="bgf8">
        <a href="533.html" title="韩文睿" class="imga">
            <img src="[$cfg_webimages$]/photo_5467.jpg" alt="韩文睿">
        </a>
        <h3>
        	<span class="pos fr">主案设计师</span>
        	<a href="533.html" title="韩文睿" class="name">韩文睿</a>
        </h3>
    </li>
        <li class="bgf8">
        <a href="661.html" title="李丹" class="imga">
            <img src="[$cfg_webimages$]/photo_6309.png" alt="李丹">
        </a>
        <h3>
        	<span class="pos fr">主案设计师</span>
        	<a href="661.html" title="李丹" class="name">李丹</a>
        </h3>
    </li>
        <li class="bgf8" id="end">
        <a href="747.html" title="于文龙" class="imga">
            <img src="[$cfg_webimages$]/photo_4543.jpg" alt="于文龙">
        </a>
        <h3>
        	<span class="pos fr">主案设计师</span>
        	<a href="747.html" title="于文龙" class="name">于文龙</a>
        </h3>
    </li>
        <li class="bgf8">
        <a href="1318.html" title="王德鑫" class="imga">
            <img src="[$cfg_webimages$]/photo_6351.png" alt="王德鑫">
        </a>
        <h3>
        	<span class="pos fr">主案设计师</span>
        	<a href="1318.html" title="王德鑫" class="name">王德鑫</a>
        </h3>
    </li>
    </ul>
<div class="clearfix"></div>
<div class="pagelist"><ul class="inline">
<li><span class="disabled btn prev"><i>上一页</i></span></li><li><span class="disabled current"><i>1</i></span></li><li><span class="disabled btn next"><i>下一页</i></span></li></ul></div>

</div>
<div class="Wrap Footer">
    <div class="Column">
    	<img src="[$cfg_webimages$]/底部承诺.png" class="imga" />
    	<div class="hr20"></div>
    	<div class="weixin fr tc">
            <img src="[$cfg_webimages$]/c8095430d1f269d9.gif" />
            <p>扫描二维码</p>
        </div>
        <div class="copy fl">
            <p>山东省济南市市中区旅游路国华东方美郡408-2</p>
            <p>香港观唐版权所有ICP备鲁14001012号-3</p>
            <p>
            <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=37010302000110"><img src="[$cfg_webimages$]/beian.png" style="float:left;"/>鲁公网安备 37010302000110号</a>
            </p>
            <p>香港观唐隶属于济南观唐装饰设计有限公司</p>
    	</div>
    </div>
</div>
<div class="SideFloat" id="sideFloat">
	<ul>
		<li><a href="indent" class="order"><i></i>在线预约</a></li>
    			<li><a href="http://wpa.qq.com/msgrd?v=3&amp;uin=1410735922&menu=yes" title="家居顾问一" target="_blank" class="qq first"><i></i>家居顾问一</a></li>
				<li><a href="http://wpa.qq.com/msgrd?v=3&amp;uin=2774995775&menu=yes" title="家居顾问二" target="_blank" class="qq"><i></i>家居顾问二</a></li>
		    	<li><a href="javascript:void(0);" class="weixin"><i></i>微信二微码<div class="img"><img src="[$cfg_webimages$]/c8095430d1f269d9.gif" /></div></a></li>    	<li><a href="javascript:void(0);" class="weixin"><i></i>访问手机站<div class="img"><img src="[$cfg_webimages$]/53d59bd59035557a.png" /></div></a></li>		<li><a href="javascript:void(0);" class="phone"><i></i>贵宾热线 <span class="red">4008576660</span></a></li>    </ul>
    <div class="bt">
    	<a href="javascript:void(0);" id="sidebackTop" class="back"><i></i></a>
    </div>
</div><script type="text/javascript">
    document.body.oncopy = function () {
        alert("受保护的内容，暂不可复制！");
        return false;
    }
</script>
<span id="cnzz"><script src="http://pw.cnzz.com/c.php?id=1200004170&l=2" language="JavaScript" charset="gb2312"></script></span><div style="display:none;">
<script type="text/javascript"> var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://"); document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F5d24f4142b95d2b176aaf631370e2d07' type='text/javascript'%3E%3C/script%3E")) </script>



 <script type="text/javascript">
var _mvq = _mvq || [];
_mvq.push(['$setAccount', 'm-130766-0']);
_mvq.push(['$logConversion']);
(function() {
    var mvl = document.createElement('script');
    mvl.type = 'text/javascript'; mvl.async = true;
    mvl.src = ('https:' == document.location.protocol ? 'https://static-ssl.mediav.com/mvl.js' : 'http://static.mediav.com/mvl.js');
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(mvl, s); 
})();
</script>    

<a href="http://webscan.360.cn/index/checkwebsite/url/hkgtsj.com"><img border="0" src="http://img.webscan.360.cn/status/pai/hash/926eef4e10c05e9feed3bc1a488724d4/?size=74x27"/></a>

</div></body>
</html>