{$Include file='head.html' block='top'$} 

<div class="Wrap moduleTop">
<div class="Column">
	<h2 class="tt">
    	<em>品质服务</em>&nbsp;<span>QUALITY SERVICE</span>
    </h2>
    <div class="leader fr"><a href="">首页</a><span class="fsti">&gt;</span><a href="about">关于我们</a></div>
    	<ul class="cate">
					    <li><a href="about.html">企业简介</a></li>
	    			    <li><a href="news4">公司动态</a></li>
	    			    <li><a href="think">客户评价</a></li>
	    			    <li><a href="honour.html">公司荣誉</a></li>
	    			    <li><a href="job">人才招聘</a></li>
	    							    <li><a href="contact.html" class="current">联系我们</a></li>
	    	</ul>
	</div>
</div>

				<div class="Wrap moduleImg" style="background-image: url([$cfg_webimages$]/56049b13886f1336.jpg);"></div>
<div class="hr25"></div>
<div class="Wrap ztContact">
<div class="Column">
	<div class="txt fl">
		<h1>香港观唐装饰设计有限公司</h1>
		<h3>HONGKONG GUANTANG DESIGN STUDIO</h3>
		<ul>
			<li class="addr">地址：山东省济南市市中区旅游路国华东方美郡408-2</li>
			<li class="phone">电话：<span class="red">400-857-6660</span></li>
			<li class="weibo">微博：http://weibo.com/jnbszx?topnav=1&wvr=6</li>
			<li class="email">邮箱：wt_guantang@163.com</li>
		</ul>
	</div>
	<div class="ditu">
		<img src="[$cfg_webimages$]/ditu.jpg" />
	</div>
</div>
</div>

<style type="text/css">

.ztContact{margin: 20px auto 60px;}
.ztContact .txt{width: 530px;margin-right: 20px;}
.ztContact .txt h1{line-height: 60px;font-size: 40px;color: #BA0000;}
.ztContact .txt h3{padding-bottom: 10px;border-bottom: 1px solid #DDDDDD;line-height: 30px;font-size: 22px;color: #c8c7da;font-family: arial;font-weight: normal;}
.ztContact .txt li{height: 30px;margin: 15px 0;padding-left: 40px;background: url([$cfg_webimages$]/ico.jpg) no-repeat;line-height: 30px;font-size: 18px;}
.ztContact .txt .phone{background-position: 0 -30px;}
.ztContact .txt .weibo{background-position: 0 -60px;}
.ztContact .txt .email{background-position: 0 -90px;}


</style>
<div class="Wrap Footer">
    <div class="Column">
    	<img src="[$cfg_webimages$]/底部承诺.png" class="imga" />
    	<div class="hr20"></div>
    	<div class="weixin fr tc">
            <img src="[$cfg_webimages$]/c8095430d1f269d9.gif" />
            <p>扫描二维码</p>
        </div>
        <div class="copy fl">
            <p>山东省济南市市中区旅游路国华东方美郡408-2</p>
            <p>香港观唐版权所有ICP备鲁14001012号-3</p>
            <p>
            <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=37010302000110"><img src="[$cfg_webimages$]/beian.png" style="float:left;"/>鲁公网安备 37010302000110号</a>
            </p>
            <p>香港观唐隶属于济南观唐装饰设计有限公司</p>
    	</div>
    </div>
</div>
<div class="SideFloat" id="sideFloat">
	<ul>
		<li><a href="indent" class="order"><i></i>在线预约</a></li>
    			<li><a href="http://wpa.qq.com/msgrd?v=3&amp;uin=1410735922&menu=yes" title="家居顾问一" target="_blank" class="qq first"><i></i>家居顾问一</a></li>
				<li><a href="http://wpa.qq.com/msgrd?v=3&amp;uin=2774995775&menu=yes" title="家居顾问二" target="_blank" class="qq"><i></i>家居顾问二</a></li>
		    	<li><a href="javascript:void(0);" class="weixin"><i></i>微信二微码<div class="img"><img src="[$cfg_webimages$]/c8095430d1f269d9.gif" /></div></a></li>    	<li><a href="javascript:void(0);" class="weixin"><i></i>访问手机站<div class="img"><img src="[$cfg_webimages$]/53d59bd59035557a.png" /></div></a></li>		<li><a href="javascript:void(0);" class="phone"><i></i>贵宾热线 <span class="red">4008576660</span></a></li>    </ul>
    <div class="bt">
    	<a href="javascript:void(0);" id="sidebackTop" class="back"><i></i></a>
    </div>
</div><script type="text/javascript">
    document.body.oncopy = function () {
        alert("受保护的内容，暂不可复制！");
        return false;
    }
</script>
<span id="cnzz"><script src="http://pw.cnzz.com/c.php?id=1200004170&l=2" language="JavaScript" charset="gb2312"></script></span><div style="display:none;">
<script type="text/javascript"> var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://"); document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F5d24f4142b95d2b176aaf631370e2d07' type='text/javascript'%3E%3C/script%3E")) </script>



 <script type="text/javascript">
var _mvq = _mvq || [];
_mvq.push(['$setAccount', 'm-130766-0']);
_mvq.push(['$logConversion']);
(function() {
    var mvl = document.createElement('script');
    mvl.type = 'text/javascript'; mvl.async = true;
    mvl.src = ('https:' == document.location.protocol ? 'https://static-ssl.mediav.com/mvl.js' : 'http://static.mediav.com/mvl.js');
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(mvl, s); 
})();
</script>    

<a href="http://webscan.360.cn/index/checkwebsite/url/hkgtsj.com"><img border="0" src="http://img.webscan.360.cn/status/pai/hash/926eef4e10c05e9feed3bc1a488724d4/?size=74x27"/></a>

</div></body>
</html>